In [1]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Low Duration Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
ld_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/low-duration-fund.html")
df1 = pd.DataFrame(ld_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (52, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Franklin India Low Duration Fund - GrowthLow D...,1,862.27,0.27%,1.45%,3.49%,7.53%,1.92%,14.27%,4.08%,5.62%,6.88%,8.32%
1,Franklin India Low Duration Fund - Direct - Gr...,1,862.27,0.27%,1.45%,3.53%,7.66%,1.92%,14.62%,4.43%,5.98%,7.24%,-
2,ICICI Prudential Savings Fund - Direct Plan - ...,4,28268.90,0.13%,0.53%,0.83%,2.16%,0.64%,7.31%,7.73%,7.90%,7.81%,-
3,ICICI Prudential Savings Fund - GrowthLow Dura...,4,28268.90,0.13%,0.52%,0.80%,2.10%,0.63%,7.20%,7.62%,7.77%,7.68%,8.51%
4,Nippon India Low Duration Fund - Direct Plan -...,3,8886.07,0.11%,0.53%,1.63%,2.58%,0.76%,7.48%,6.93%,7.51%,7.48%,-

## Exctracting Low Duration Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
ld_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/low-duration-fund.html")
df2 = pd.DataFrame(ld_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (52, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,BNP Paribas Low Duration Fund - GrowthLow Dura...,1,0.13%,0.45%,0.53%,0.19%,0.04%,0.21%,0.45%,0.64%,0.15%,0.16%,0.57%,0.94%
1,BNP Paribas Low Duration Fund - Direct Plan - ...,1,0.15%,0.52%,0.60%,0.25%,0.10%,0.27%,0.52%,0.70%,0.21%,0.23%,0.65%,1.01%
2,Kotak Low Duration Fund - GrowthLow Duration Fund,2,0.14%,0.46%,0.36%,0.13%,0.05%,0.25%,0.54%,0.67%,0.35%,0.41%,0.68%,1.26%
3,Kotak Low Duration Fund - Direct Plan - Growth...,2,0.17%,0.52%,0.43%,0.19%,0.11%,0.31%,0.60%,0.73%,0.41%,0.47%,0.74%,1.32%
4,Aditya Birla Sun Life Low Duration Fund - Regu...,2,0.13%,0.47%,0.48%,0.18%,-,0.25%,0.53%,0.66%,0.30%,0.42%,0.72%,1.16%

## Exctracting Low Duration Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
ld_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/low-duration-fund.html")
df3 = pd.DataFrame(ld_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (52, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,BNP Paribas Low Duration Fund - GrowthLow Dura...,1,0.57%,0.72%,1.39%,1.01%,2.39%,2.18%,1.68%,2.16%,0.69%,2.12%,2.22%,1.46%
1,BNP Paribas Low Duration Fund - Direct Plan - ...,1,0.67%,0.92%,1.58%,1.22%,2.61%,2.39%,1.88%,2.37%,0.89%,2.32%,2.42%,1.66%
2,Kotak Low Duration Fund - GrowthLow Duration Fund,2,0.60%,0.51%,1.48%,1.56%,2.83%,1.69%,2.03%,2.37%,1.31%,2.23%,2.15%,1.61%
3,Kotak Low Duration Fund - Direct Plan - Growth...,2,0.70%,0.70%,1.67%,1.75%,3.01%,1.88%,2.22%,2.56%,1.50%,2.42%,2.34%,1.80%
4,Aditya Birla Sun Life Low Duration Fund - Regu...,2,0.60%,0.62%,1.46%,1.53%,2.75%,1.63%,1.68%,2.31%,1.62%,2.20%,2.16%,1.64%

## Exctracting Low Duration Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
ld_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/low-duration-fund.html")
df4 = pd.DataFrame(ld_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (52, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,BNP Paribas Low Duration Fund - Growth Low Dur...,1,1.33%,7.28%,6.95%,6.99%,6.38%,8.10%,7.86%,8.52%,9.04%,9.98%,9.21%,5.75%
1,BNP Paribas Low Duration Fund - Direct Plan - ...,1,1.63%,8.16%,7.82%,7.72%,7.04%,8.72%,8.72%,9.42%,9.55%,-,-,-
2,Kotak Low Duration Fund - Growth Low Duration ...,2,1.13%,7.85%,8.30%,7.25%,7.14%,8.89%,9.36%,9.43%,6.92%,10.16%,9.84%,4.90%
3,Kotak Low Duration Fund - Direct Plan - Growth...,2,1.42%,8.66%,9.10%,8.04%,7.95%,9.72%,10.01%,9.91%,7.31%,-,-,-
4,Aditya Birla Sun Life Low Duration Fund - Regu...,2,1.24%,7.66%,8.17%,7.07%,6.41%,8.43%,8.03%,9.03%,8.71%,9.11%,8.66%,5.13%

## Exctracting Low Duration Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
ld_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/low-duration-fund.html")
df5 = pd.DataFrame(ld_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (53, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,Baroda Treasury Advantage Fund - Plan A - Grow...,1,8/26,24/26,2/26,2/26,21/26,1/26,25/25,25/25,24/24,22/23
1,Baroda Treasury Advantage Fund - Plan B (Direc...,1,10/26,25/26,2/26,2/26,23/26,1/26,25/25,25/25,24/24,0/0
2,JM Low Duration Fund - GrowthLow Duration Fund,3,23/26,25/26,22/26,25/26,23/26,2/26,17/25,17/25,15/24,14/23
3,JM Low Duration Fund - (Direct) - GrowthLow Du...,3,25/26,24/26,24/26,25/26,24/26,2/26,17/25,18/25,17/24,0/0
4,Franklin India Low Duration Fund - GrowthLow D...,1,1/26,1/26,1/26,1/26,1/26,3/26,18/25,18/25,13/24,3/23

## Exctracting Low Duration Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
ld_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/low-duration-fund.html")
df6 = pd.DataFrame(ld_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (6, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,Principal Low Duration Fund - Growth,2,74.57,10.71,0.75,-0.30,-4.97,-0.04
1,Mahindra Manulife Low Duration Fund - Regular ...,1,600.93,0.88,0.88,3.39,-0.44,0.03
2,Kotak Low Duration Fund - Growth,2,11860.73,1.25,4.74,3.03,-7.32,0.01
3,L&T Low Duration Fund - Growth,3,909.24,2.37,0.55,1.03,-0.31,0.04
4,Canara Robeco Savings Fund - Regular Plan - Gr...,5,1629.48,1.06,4.54,2.95,-7.51,0.01

## Exctracting Low Duration Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
ld_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/low-duration-fund.html")
df7 = pd.DataFrame(ld_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (52, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,ICICI Prudential Savings Fund - Direct Plan - ...,4,-,-,-,80.06%,144,-,19.91%,-
1,Principal Low Duration Fund - GrowthLow Durati...,2,-,-,-,83.99%,19,-,16.01%,-
2,LIC MF Savings Fund - GrowthLow Duration Fund,5,-,-,-,97.17%,30,-,2.83%,-
3,BNP Paribas Low Duration Fund - GrowthLow Dura...,1,-,-,-,40.06%,10,-,59.94%,-
4,IDFC Low Duration Fund - Regular Plan - Growth...,4,-,-,-,70.75%,111,-,29.25%,-

## Exctracting Low Duration Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
ld_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/low-duration-fund.html")
df8 = pd.DataFrame(ld_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (52, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,Nippon India Low Duration Fund - Direct Plan -...,3,8886.07,3042.1739,0.02%,12-May-21,3042.1739,12-May-21,2837.9448,18-May-20
1,Nippon India Low Duration Fund - GrowthLow Dur...,3,8886.07,2942.6249,0.02%,12-May-21,2942.6249,12-May-21,2763.8860,18-May-20
2,Baroda Treasury Advantage Fund - Plan B (Direc...,1,34.11,1602.3121,0.02%,12-May-21,1602.3121,12-May-21,1163.3148,19-May-20
3,Baroda Treasury Advantage Fund - Plan A - Grow...,1,34.11,1562.1066,0.02%,12-May-21,1562.1066,12-May-21,1136.5125,19-May-20
4,UTI Treasury Advantage Fund - Direct Plan - Gr...,2,3684.79,2659.9256,0.01%,12-May-21,2659.9256,12-May-21,2518.2734,18-May-20

## Exctracting Low Duration Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
ld_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/low-duration-fund.html")
df9 = pd.DataFrame(ld_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (52, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Baroda Treasury Advantage Fund - Plan B (Direc...,1,34.11,10.11%,2.44%,-6.54%,-10.57%,-
1,Baroda Treasury Advantage Fund - Plan A - Grow...,1,34.11,9.99%,2.21%,-6.87%,-11.14%,0.60%
2,Franklin India Low Duration Fund - Direct - Gr...,1,862.27,7.35%,8.10%,10.14%,17.77%,-
3,Franklin India Low Duration Fund - GrowthLow D...,1,862.27,7.21%,7.77%,9.60%,16.73%,47.11%
4,JM Low Duration Fund - (Direct) - GrowthLow Du...,3,128.47,5.18%,14.23%,14.37%,19.24%,-

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (53, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (53, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Franklin India Low Duration Fund - GrowthLow D...,1,862.27,0.27%,1.45%,3.49%,7.53%,1.92%,14.27%,4.08%,...,12-May-21,3042.1739,12-May-21,2837.9448,18-May-20,10.11%,2.44%,-6.54%,-10.57%,-
1,Franklin India Low Duration Fund - Direct - Gr...,1,862.27,0.27%,1.45%,3.53%,7.66%,1.92%,14.62%,4.43%,...,12-May-21,2942.6249,12-May-21,2763.8860,18-May-20,9.99%,2.21%,-6.87%,-11.14%,0.60%
2,ICICI Prudential Savings Fund - Direct Plan - ...,4,28268.90,0.13%,0.53%,0.83%,2.16%,0.64%,7.31%,7.73%,...,12-May-21,1602.3121,12-May-21,1163.3148,19-May-20,7.35%,8.10%,10.14%,17.77%,-
3,ICICI Prudential Savings Fund - GrowthLow Dura...,4,28268.90,0.13%,0.52%,0.80%,2.10%,0.63%,7.20%,7.62%,...,12-May-21,1562.1066,12-May-21,1136.5125,19-May-20,7.21%,7.77%,9.60%,16.73%,47.11%
4,Nippon India Low Duration Fund - Direct Plan -...,3,8886.07,0.11%,0.53%,1.63%,2.58%,0.76%,7.48%,6.93%,...,12-May-21,2659.9256,12-May-21,2518.2734,18-May-20,5.18%,14.23%,14.37%,19.24%,-

In [22]:
#Exporting the consolidated ld mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('ld_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the ld mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('ld_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')