In [1]:
# Importing respective modules
import pandas as pd
import re

In [2]:
# Reading elss mutual funds csv file
es_mf = pd.read_csv('es_mf_data(18-May-2021 19:39:11).csv')

In [3]:
# Extracting a plan from "Scheme Name" column
ahheme_name = list(es_mf['Scheme Name'])
plan = []
for i in ahheme_name:
    #print(type(i))
    plan.append(re.findall("Direct|Regular", str(i)))
#plan
for p in plan:
    if len(p) == 0:
        #print(type(p))
        p.append("Regular")
es_mf['Plan'] = plan

In [4]:
# Extracting a category from "Scheme Name" column
ahheme_name = list(es_mf['Scheme Name'])
category = []
for i in ahheme_name:
    #print(type(i))
    category.append(re.findall("Equity Savings Fund", str(i)))
es_mf['Category'] = category

In [5]:
# Modifiying 'Scheme Name' column
es_mf['Scheme Name'] = es_mf['Scheme Name'].str.replace(' - GrowthEquity Savings Fund', '')

In [6]:
#Replacing "']" & "['" string with "" in Plan columns
es_mf['Plan'] = es_mf['Plan'].astype(str).str.replace("\['","", regex=True)
es_mf['Plan'] = es_mf['Plan'].astype(str).str.replace("']","", regex=True)

#Replacing "']" & "['" string with "" in Category columns
es_mf['Category'] = es_mf['Category'].astype(str).str.replace("\['","", regex=True)
es_mf['Category'] = es_mf['Category'].astype(str).str.replace("']","", regex=True)

In [7]:
#Replacing "Aggressive Hybrid Fund', 'Aggressive Hybrid Fund" string with "Aggressive Hybrid Fund" in Category columns
es_mf['Category'] = es_mf['Category'].astype(str).str.replace("Equity Savings Fund', 'Equity Savings Fund",
                                                              "Equity Savings Fund", regex=True)

#Replacing "%" string with "" in Crisil Rank, % Debt Holding, No of instruments in portfolio,
# % MF Holding, % Other Holding, Turnover ratio, MTD, 10Y_SIP_RTN(%) & 5Y_SIP_RTN(%) columns
es_mf[['% Debt Holding', 'No of instruments in portfolio',
          '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
          'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'         
         ]] = es_mf[['% Debt Holding', 'No of instruments in portfolio',
                        '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
                        'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'
                        ]].replace("%", "", regex=True)

#Replacing "-" string with "0" in Crisil Rank columns
es_mf['Crisil Rank'] = es_mf['Crisil Rank'].replace("-", "", regex=True)

In [8]:
#Replacing "-" string with "0" in Crisil Rank columns
es_mf['Crisil Rank'] = es_mf['Crisil Rank'].replace("", "0", regex=True)

#Replacing "%" with '' in the column
es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"
                       ]].replace("%", "", regex=True)
print("Shape of the dataframe:", es_mf.shape)
es_mf.head()

Shape of the dataframe: (48, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
0,Principal Equity Savings Fund - Direct Plan - ...,0,62.07,0.59,2.28,0.36,10.68,1.83,31.62,13.27,...,17-May-21,36.0840,20-May-20,14.01,17.83,20.55,29.56,-,Direct,Equity Savings Fund
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,0.56,2.16,-0.01,9.91,1.64,29.92,11.90,...,17-May-21,36.7486,26-May-20,13.88,20.81,25.56,-,-,Regular,Equity Savings Fund
2,HDFC Equity Savings Fund - Direct Plan - Growt...,0,2304.80,0.47,2.60,1.69,13.22,2.50,30.04,10.41,...,17-May-21,33.7410,20-May-20,13.62,20.97,-,-,-,Direct,Equity Savings Fund
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,0.46,2.53,1.51,12.79,2.40,29.04,9.60,...,03-Mar-21,34.3277,26-May-20,13.53,18.09,19.88,25.91,-,Regular,Equity Savings Fund
4,DSP Equity Savings Fund - Direct Plan - Growth...,0,361.43,0.37,1.31,2.21,10.58,1.21,30.94,11.19,...,15-Feb-21,33.7504,26-May-20,13.51,16.89,19.05,26.12,61.68,Direct,Equity Savings Fund

In [9]:
#Sorting a es_mf dataframe by "Crisil Rank Column"
es_mf.sort_values(by=['Crisil Rank', 'Scheme Name', 'AuM (Cr)'], inplace=True, ascending=False)
print("Shape of the dataframe:", es_mf.shape)
es_mf.head()

Shape of the dataframe: (48, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
47,PGIM India Equity Savings Fund - GrowthEquity ...,3,40.81,-0.26,1.46,1.22,7.93,1.77,21.08,7.72,...,21-May-20,0.2885,21-May-20,-,-,-,-,-,Regular,Equity Savings Fund
29,Tata Equity Savings Fund - Regular Plan - Grow...,2,99.99,0.01,0.60,-0.69,6.26,0.40,21.39,8.48,...,18-Feb-21,9.2447,20-May-20,9.15,13.23,15.97,19.92,40.77,Regular,Equity Savings Fund
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,0.56,2.16,-0.01,9.91,1.64,29.92,11.90,...,17-May-21,36.7486,26-May-20,13.88,20.81,25.56,-,-,Regular,Equity Savings Fund
20,IDBI Equity Savings Fund - GrowthEquity Savings,1,10.99,0.09,0.99,-1.35,7.29,0.32,22.13,9.79,...,15-Feb-21,14.6061,22-May-20,10.57,15.34,19.39,30.12,-,Regular,Equity Savings Fund
37,Union Equity Savings Fund - GrowthEquity Savings,0,173.99,-0.08,0.57,-0.48,4.97,0.57,20.85,9.29,...,16-Feb-21,9.9688,26-May-20,7.69,12.90,-,-,-,Regular,Equity Savings Fund

In [10]:
#Replacing "-" with 'None' in the columns
es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"]].replace({'-' : None})

In [11]:
#Replacing "" with '0' in the columns

es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank'
         ]] = es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',\
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank']].fillna(value='0')

In [12]:
#Changing the datatype of the return & risk ratio columns

es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"
         ]] = es_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"]].apply(pd.to_numeric, errors='coerce')

In [13]:
#Changing the datatype of the 'Crisil Rank' columns
es_mf['Crisil Rank'] = es_mf['Crisil Rank'].astype('int')

In [14]:
#Removing white spaces at both ends in all over the dataframe:

es_mf.columns = es_mf.columns.str.strip()

#Checking the data type of all columns in the DataFrame
es_mf_dtype = es_mf.dtypes

df_dtypes = pd.DataFrame(es_mf_dtype)

In [15]:
#Using pandas dataframe.round()function to round off all the decimal values to 2 decimal places
es_mf = es_mf.round(2)

In [16]:
# #Exporting the consolidated elss mf data as a  csv file
# print("Shape of the dataframe:", es_mf.shape)
#es_mf.to_csv('final_es_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#                 index=False)

# #Exporting the elss mf data columns with its datatype as a  csv file
# df_dtypes.to_csv('es_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv))'

In [17]:
#Exctracting regular mutual funds
regular_mf = es_mf.loc[es_mf['Plan'] == 'Regular']
regular_mf.head()

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
47,PGIM India Equity Savings Fund - GrowthEquity ...,3,40.81,-0.26,1.46,1.22,7.93,1.77,21.08,7.72,...,21-May-20,0.29,21-May-20,0.00,0.00,0.00,0.00,0.00,Regular,Equity Savings Fund
29,Tata Equity Savings Fund - Regular Plan - Grow...,2,99.99,0.01,0.60,-0.69,6.26,0.40,21.39,8.48,...,18-Feb-21,9.24,20-May-20,9.15,13.23,15.97,19.92,40.77,Regular,Equity Savings Fund
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,0.56,2.16,-0.01,9.91,1.64,29.92,11.90,...,17-May-21,36.75,26-May-20,13.88,20.81,25.56,0.00,0.00,Regular,Equity Savings Fund
20,IDBI Equity Savings Fund - GrowthEquity Savings,1,10.99,0.09,0.99,-1.35,7.29,0.32,22.13,9.79,...,15-Feb-21,14.61,22-May-20,10.57,15.34,19.39,30.12,0.00,Regular,Equity Savings Fund
37,Union Equity Savings Fund - GrowthEquity Savings,0,173.99,-0.08,0.57,-0.48,4.97,0.57,20.85,9.29,...,16-Feb-21,9.97,26-May-20,7.69,12.90,0.00,0.00,0.00,Regular,Equity Savings Fund

In [18]:
# Basic statistics of regular mutual fund df
regular_mf.describe()

,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),...,% Other Holding,NAV,1D Change(%),52W High,52W Low,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,0.291667,420.190000,0.072500,1.118750,0.104167,7.481250,0.949167,23.492083,8.265417,4.610833,...,0.489167,18.066250,0.553333,18.163333,14.440833,9.267917,12.822917,11.845833,14.937917,9.698333
std,0.750604,569.917029,0.204605,0.654146,0.833061,2.786458,0.645943,7.153514,4.020972,4.010265,...,1.075934,11.640086,0.244996,11.671746,8.983041,3.595377,5.495985,9.546481,13.064340,19.486615
min,0.000000,10.990000,-0.260000,0.000000,-1.350000,0.000000,-0.120000,0.000000,-3.480000,-2.930000,...,0.000000,0.290000,0.000000,0.290000,0.290000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,91.792500,-0.072500,0.705000,-0.412500,5.857500,0.542500,20.640000,7.855000,0.000000,...,0.000000,12.112500,0.390000,12.122500,9.957500,7.712500,11.872500,0.000000,0.000000,0.000000
50%,0.000000,178.115000,0.070000,0.980000,0.035000,7.980000,0.815000,22.615000,9.215000,6.685000,...,0.000000,14.885000,0.605000,14.970000,11.585000,9.585000,13.465000,15.575000,20.230000,0.000000
75%,0.000000,449.245000,0.160000,1.492500,0.630000,9.600000,1.457500,28.942500,9.992500,7.842500,...,0.000000,21.452500,0.707500,21.677500,16.672500,12.025000,16.275000,19.512500,26.157500,0.000000
max,3.000000,2304.800000,0.560000,2.530000,1.810000,12.790000,2.400000,33.110000,13.940000,9.070000,...,3.520000,48.400000,0.930000,48.400000,36.750000,13.880000,20.810000,25.560000,32.490000,53.840000

In [19]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV]
Index: []

In [20]:
# Extracting  last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'
#greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is: 0
Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [21]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 12% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 12% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [22]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is: 0
Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [23]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [24]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

In [25]:
# Extracting funds which have '5Y Return' & '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [26]:
# Extracting last five years annual return for funds which have 5Y Return', '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

## Portfolio Turnover Ratio(PTR)

Portfolio Turnover Ratio is the frequency in which the assets held under a fund has changed over the years. In simpler words, PTR provides a measurement on how many times the fund managers bought or sold the assets under a fund over a period of time. PTR is often determined by the market conditions and fund management style.

Suppose an equity fund purchased stocks worth Rs. 375 crore and sold stocks worth Rs. 450 crore. The average AUM of the fund is Rs.1500 crore. In this case, the Portfolio turnover ratio of the fund is 25%, which means one-fourth of the stocks were traded.

Funds that have higher turnover ratios, for example, can trigger higher costs for investors. First, a fund that’s actively managed may charge a higher expense ratio to cover the fund manager’s services. The expense ratio represents the percentage you pay to own the fund on an annualized basis. At the low end, you can find index funds with expense ratios around 0.50% to 0.10%. But the most expensive funds can easily have expense ratios over 1%.

Turnover ratio can also give you an idea of what the fund’s investment strategy is, which is important for choosing funds that align with your goals and objectives. A growth mutual fund, for instance, may have a higher turnover ratio if the fund manager is constantly looking for the best growth stocks to drive returns. But a fund that uses a value investing approach may have a lower turnover ratio if the fund manager is buying assets that have the potential to appreciate over time.

In [27]:
# Top 10 low turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 low turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nsmallest(10, 'Turnover ratio(%)')

Top 10 low turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
25,Mirae Asset Equity Savings Fund - GrowthEquity...,0,219.00,32.74,0.00,0.00,0.0,23.21,422.31
24,Edelweiss Equity Savings Fund - Regular Plan -...,0,112.43,20.01,8.63,9.04,0.0,13.36,422.31
40,UTI Equity Savings Fund - GrowthEquity Savings,0,182.24,26.14,0.00,0.00,0.0,12.67,424.00
41,SBI Equity Savings Fund - Regular Plan - Growt...,0,1355.02,30.22,8.29,8.49,0.0,12.46,424.00
27,Nippon India Equity Savings Fund - GrowthEquit...,0,293.00,22.01,-2.93,2.31,0.0,12.21,424.00
26,Mahindra Manulife Equity Savings Dhan Sanchay ...,0,227.44,32.85,9.07,0.00,0.0,24.71,424.00
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.0,21.15,480.00
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.0,19.53,480.00
34,Axis Equity Saver Fund - GrowthEquity Savings,0,728.54,25.46,8.16,8.70,0.0,12.20,534.00

In [28]:
# Top 10 high turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 high turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nlargest(10, 'Turnover ratio(%)')

Top 10 high turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
34,Axis Equity Saver Fund - GrowthEquity Savings,0,728.54,25.46,8.16,8.70,0.0,12.20,534.00
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.0,21.15,480.00
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.0,19.53,480.00
40,UTI Equity Savings Fund - GrowthEquity Savings,0,182.24,26.14,0.00,0.00,0.0,12.67,424.00
41,SBI Equity Savings Fund - Regular Plan - Growt...,0,1355.02,30.22,8.29,8.49,0.0,12.46,424.00
27,Nippon India Equity Savings Fund - GrowthEquit...,0,293.00,22.01,-2.93,2.31,0.0,12.21,424.00
26,Mahindra Manulife Equity Savings Dhan Sanchay ...,0,227.44,32.85,9.07,0.00,0.0,24.71,424.00
25,Mirae Asset Equity Savings Fund - GrowthEquity...,0,219.00,32.74,0.00,0.00,0.0,23.21,422.31
24,Edelweiss Equity Savings Fund - Regular Plan -...,0,112.43,20.01,8.63,9.04,0.0,13.36,422.31

## Standard Deviation (SD)

The standard deviation of a stock or a mutual fund represents the riskiness of the stock or the mutual fund.

Standard Deviation is a percentage, expressed as an annualised figure.

Higher the standard Deviation, higher is the volatility of the asset. Higher the volatility, higher is the risk.

Do note, volatility or Standard Deviation should not worry you. Markets are volatile, and equities are volatile, mutual funds are volatile; this is the very nature of markets. So if you can’t fathom watching your investment see-saw between gains and loss, then perhaps you should reconsider your investment decision inequities.

In [29]:
# Top 10 low standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 low standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nsmallest(10, 'Standard Deviation')

Top 10 low standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,17.26,6.02
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,19.53,7.22
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,16.41,7.35
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,21.15,7.62
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,38.31,8.08
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,44.64,8.09
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,48.40,8.42
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,22.36,9.63

In [30]:
# Top 10 high standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 high standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nlargest(10, 'Standard Deviation')

Top 10 high standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,22.36,9.63
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,48.40,8.42
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,44.64,8.09
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,38.31,8.08
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,21.15,7.62
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,16.41,7.35
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,19.53,7.22
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,17.26,6.02

## Beta Ratios

A Beta Ratio in Mutual Funds offers investors the data on the degree of the volatility a Mutual Fund displays in response to market fluctuations. An investor can determine which fund would be best suited to meet his/her financial objectives.

Suppose, the beta ratio of a specific Mutual Fund is 0.7 or 70%; it means the fund is 0.3 or 30% less volatile than the benchmark index. A Beta ratio value of 1 indicates a lower risk and lower growth potential compared to ratios at par or above 1.

Investors with a low-risk appetite would always prefer a lower beta ratio in Mutual Funds as it indicates a steadier response to a volatile market condition. Similarly, investors with the investment objective of higher returns would prefer beta ratios of 1 or more than 1.

In [31]:
# Top 10 low beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 low beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nsmallest(10, 'Beta')

Top 10 low beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.0,17.26,0.26
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.0,22.36,0.44
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.0,16.41,0.74

In [32]:
# Top 10 high beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 high beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nlargest(10, 'Beta')

Top 10 high beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.0,16.41,0.74
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.0,22.36,0.44
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.0,17.26,0.26

In [33]:
# Funds with 'Beta' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] < 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.0,16.41,0.74
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.0,17.26,0.26
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.0,22.36,0.44

In [34]:
# Funds with 'Beta' greater than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Beta]
Index: []

## What is Sharpe Ratio?

Sharpe Ratio of a mutual fund reveals its potential risk-adjusted returns. The risk-adjusted returns are the returns earned by an investment over the returns generated by any risk-free asset such as a fixed deposit. However, higher returns indicate extra risk. Higher Sharpe Ratio means greater returns from an investment but with a higher risk level. Therefore, it justifies the underlying volatility of the funds. The investors aiming for higher returns will have to invest in funds with higher risk factors.

Investments with less than 1.00 Sharpe Ratio do not generate high returns. Contrarily, investment with Sharpe Ratio of 1.00 to 3.00 or above have higher returns subsequently.

In [35]:
# Top 10 low sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 low 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nsmallest(10, 'Sharpe Ratio')

Top 10 low 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,21.15,0.42
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,38.31,0.45
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,19.53,0.46
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,48.40,0.47
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,22.36,0.48
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,16.41,0.51
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,44.64,0.52
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,17.26,0.77

In [36]:
# Top 10 high sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nlargest(10, 'Sharpe Ratio')

Top 10 high 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,17.26,0.77
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,44.64,0.52
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,16.41,0.51
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,22.36,0.48
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,48.40,0.47
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,19.53,0.46
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,38.31,0.45
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,21.15,0.42

In [37]:
# Funds with 'Sharpe Ratio' greater than or equal to 3.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] >= 3.00)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [38]:
# Funds with 'Sharpe Ratio' greater than to 2.00 & lesser than 2.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 2.00) & (regular_mf['Sharpe Ratio'] < 2.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [39]:
# Funds with 'Sharpe Ratio' greater than to 1.00 & lesser than 1.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 1.00) & (regular_mf['Sharpe Ratio'] < 1.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [40]:
# Funds with 'Sharpe Ratio' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] != 0.00) & (regular_mf['Sharpe Ratio'] < 1.00)]
print("Funds with 'Sharpe Ratio' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Funds with 'Sharpe Ratio' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,48.40,0.47
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,21.15,0.42
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,16.41,0.51
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,17.26,0.77
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,19.53,0.46
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,44.64,0.52
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,22.36,0.48
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,38.31,0.45

In [41]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['10Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 3Y_SIP_RTN(%), 5Y_SIP_RTN(%), 10Y_SIP_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [42]:
# Extracting funds which have 3Y Return' & '5Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 3Y_SIP_RTN(%), 5Y_SIP_RTN(%), 10Y_SIP_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [43]:
# Extracting funds which have '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['1Y_SIP_RTN(%)'] > 25) & (regular_mf['2Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['3Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_SIP_RTN(%), 2Y_SIP_RTN(%), 3Y_SIP_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [44]:
# Top 10 high AuM (Cr) regular mutual funds are
#mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 high 'AuM (Cr)' regular mutual funds are :")
mf_tr =  mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nlargest(10, 'AuM (Cr)')
mf_tr

Top 10 high 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
3,HDFC Equity Savings Fund - GrowthEquity Savings,0,2304.80,29.04,7.84,10.35,9.24,0.52,0.0,8.09,NaN
14,Kotak Equity Savings Fund - GrowthEquity Savings,0,1382.75,21.45,7.85,8.67,0.00,0.51,0.0,7.35,0.74
11,ICICI Prudential Equity Savings Fund - GrowthE...,0,1109.98,23.10,7.76,8.62,0.00,0.46,480.0,7.22,NaN
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,0.45,0.0,8.08,NaN
15,Invesco India Equity Savings Fund - Regular Pl...,0,131.30,16.76,0.00,0.00,0.00,0.77,0.0,6.02,0.26
7,Franklin India Equity Savings Fund - GrowthEqu...,0,117.77,26.60,0.00,0.00,0.00,0.48,0.0,9.63,0.44
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,0.42,480.0,7.62,NaN
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,0.47,0.0,8.42,NaN

In [45]:
# Top 10 low AuM (Cr) regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 low 'AuM (Cr)' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nsmallest(10, 'AuM (Cr)')

Top 10 low 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
20,IDBI Equity Savings Fund - GrowthEquity Savings,1,10.99,22.13,6.81,6.01,6.76,0.00,0.00,0.00,0.0
47,PGIM India Equity Savings Fund - GrowthEquity ...,3,40.81,21.08,6.98,7.17,8.28,0.00,0.00,0.00,0.0
46,IDFC Equity Savings Fund - Regular Plan - Grow...,0,53.13,20.01,6.39,6.11,6.91,0.00,0.00,0.00,0.0
1,Principal Equity Savings Fund - Growth Accumul...,1,62.07,29.92,8.81,8.92,7.64,0.47,0.00,8.42,NaN
10,L&T Equity Savings Fund - GrowthEquity Savings,0,67.20,33.11,6.34,7.47,0.00,0.42,480.00,7.62,NaN
29,Tata Equity Savings Fund - Regular Plan - Grow...,2,99.99,21.39,7.00,7.05,7.49,0.00,0.00,0.00,0.0
24,Edelweiss Equity Savings Fund - Regular Plan -...,0,112.43,20.01,8.63,9.04,0.00,0.00,422.31,0.00,0.0
27,Nippon India Equity Savings Fund - GrowthEquit...,0,293.00,22.01,-2.93,2.31,0.00,0.00,424.00,0.00,0.0
5,DSP Equity Savings Fund - Regular Plan - Growt...,0,361.43,28.91,6.56,8.01,0.00,0.45,0.00,8.08,NaN
43,Aditya Birla Sun Life Equity Savings Fund - Re...,0,486.67,26.09,7.10,8.58,0.00,0.00,0.00,0.00,0.0

In [46]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 0) & (regular_mf['AuM (Cr)'] < 500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [47]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 500Crs to 1000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 500) & (regular_mf['AuM (Cr)'] < 1000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [48]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1000) & (regular_mf['AuM (Cr)'] < 1500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [49]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1500 to 20000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1500) & (regular_mf['AuM (Cr)'] < 20000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []