In [1]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Floater Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
fmf_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/floater-fund.html")
df1 = pd.DataFrame(fmf_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (21, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Kotak Floating Rate Fund - Direct Plan - Growt...,-,4203.62,0.23%,1.10%,2.00%,2.27%,1.57%,9.79%,8.40%,-,-,-
1,Kotak Floating Rate Fund - Regular Plan - Grow...,-,4203.62,0.22%,1.07%,1.90%,2.07%,1.52%,9.35%,8.03%,-,-,-
2,ICICI Prudential Floating Interest Fund - Dire...,1,12480.53,0.16%,0.58%,0.70%,2.49%,0.65%,9.02%,8.67%,8.51%,8.37%,-
3,ICICI Prudential Floating Interest Fund - Grow...,1,12480.53,0.14%,0.52%,0.52%,2.12%,0.56%,8.23%,7.88%,7.71%,7.52%,8.29%
4,SBI Floating Rate Debt Fund - Direct Plan - Gr...,-,109.97,0.12%,0.47%,0.59%,2.27%,0.53%,-,-,-,-,-

## Exctracting Floater Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
fmf_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/floater-fund.html")
df2 = pd.DataFrame(fmf_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (24, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,IDFC Floating Rate Fund - Regular Plan - Growt...,-,0.12%,0.53%,0.24%,7.68%,-,-,-,-,-,-,-,-
1,IDFC Floating Rate Fund - Direct Plan - Growth...,-,0.13%,0.57%,0.28%,0.98%,-,-,-,-,-,-,-,-
2,Aditya Birla Sun Life Floating Rate Fund - Reg...,5,0.20%,0.67%,0.64%,-0.05%,-0.18%,0.34%,0.69%,0.73%,0.30%,0.34%,0.78%,1.17%
3,Aditya Birla Sun Life Floating Rate Fund - Dir...,5,0.20%,0.68%,0.66%,-0.04%,-0.17%,0.36%,0.70%,0.75%,0.31%,0.35%,0.79%,1.19%
4,DSP Floater Fund - Regular Plan - GrowthFloate...,-,0.31%,0.79%,-,-,-,-,-,-,-,-,-,-

## Exctracting Floater Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
fmf_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/floater-fund.html")
df3 = pd.DataFrame(fmf_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (24, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,DSP Floater Fund - Regular Plan - GrowthFloate...,-,1.10%,-,-,-,-,-,-,-,-,-,-,-
1,DSP Floater Fund - Direct Plan - GrowthFloater...,-,1.14%,-,-,-,-,-,-,-,-,-,-,-
2,NaN,-,-,-,1.52%,1.58%,1.76%,1.53%,1.97%,1.93%,1.70%,1.70%,1.82%,1.53%
3,Franklin India Floating Rate Fund - Direct - G...,-,0.62%,0.78%,-,-,-,-,-,-,-,-,-,-
4,Franklin India Floating Rate Fund - GrowthFloa...,1,0.54%,0.64%,-,-,-,-,-,-,-,-,-,-

## Exctracting Floater Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
fmf_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/floater-fund.html")
df4 = pd.DataFrame(fmf_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (22, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,IDFC Floating Rate Fund - Regular Plan - Growt...,-,0.95%,-,-,-,-,-,-,-,-,-,-,-
1,IDFC Floating Rate Fund - Direct Plan - Growth...,-,1.09%,-,-,-,-,-,-,-,-,-,-,-
2,Aditya Birla Sun Life Floating Rate Fund - Reg...,5,1.18%,8.59%,8.55%,7.42%,6.86%,9.50%,8.88%,9.52%,9.54%,10.15%,9.35%,6.49%
3,Aditya Birla Sun Life Floating Rate Fund - Dir...,5,1.23%,8.79%,8.79%,7.68%,7.12%,9.77%,9.15%,9.77%,9.68%,-,-,-
4,DSP Floater Fund - Regular Plan - Growth Float...,-,1.51%,-,-,-,-,-,-,-,-,-,-,-

## Exctracting Floater Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
fmf_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/floater-fund.html")
df5 = pd.DataFrame(fmf_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (16, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,Kotak Floating Rate Fund - Regular Plan - Grow...,-,1/10,1/10,1/8,5/8,1/10,1/7,2/7,0/0,0/0,0/0
1,Kotak Floating Rate Fund - Direct Plan - Growt...,-,1/10,1/10,1/8,4/8,1/10,1/7,3/7,0/0,0/0,0/0
2,Nippon India Floating Rate Fund - GrowthFloate...,3,4/10,2/10,2/8,4/8,3/10,2/7,1/7,1/5,1/5,3/5
3,ICICI Prudential Floating Interest Fund - Dire...,1,2/10,6/10,7/8,2/8,8/10,2/7,2/7,2/5,1/5,0/0
4,Nippon India Floating Rate Fund - Direct Plan ...,3,4/10,2/10,2/8,3/8,2/10,3/7,1/7,1/5,2/5,0/0

## Exctracting Floater Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
fmf_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/floater-fund.html")
df6 = pd.DataFrame(fmf_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (1, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,HDFC Floating Rate Debt Fund -Growth,3,17285.86,1.19,4.43,3.57,-6.15,0.01

## Exctracting Floater Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
fmf_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/floater-fund.html")
df7 = pd.DataFrame(fmf_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (22, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,HDFC Floating Rate Debt Fund - Direct Plan - G...,3,-,-,-,82.41%,141,-,17.59%,-
1,Aditya Birla Sun Life Floating Rate Fund - Dir...,5,-,-,-,95.94%,205,-,4.05%,-
2,UTI Floater Fund - GrowthFloater Fund,-,-,-,-,89.13%,41,-,10.87%,-
3,IDFC Floating Rate Fund - Direct Plan - Growth...,-,-,-,-,83.15%,17,-,16.86%,-0.01%
4,Kotak Floating Rate Fund - Direct Plan - Growt...,-,-,-,-,92.88%,43,-,7.12%,-

## Exctracting Floater Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
fmf_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/floater-fund.html")
df8 = pd.DataFrame(fmf_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (21, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,UTI Floater Fund - Direct Plan - GrowthFloater...,-,2628.57,1217.6246,0.01%,12-May-21,1217.6246,12-May-21,1146.4360,18-May-20
1,UTI Floater Fund - GrowthFloater Fund,-,2628.57,1188.2294,0.01%,12-May-21,1188.2294,12-May-21,1128.8291,18-May-20
2,Aditya Birla Sun Life Floating Rate Fund - Dir...,5,15238.89,273.0791,0.01%,12-May-21,273.0791,12-May-21,255.7515,18-May-20
3,Aditya Birla Sun Life Floating Rate Fund - Reg...,5,15238.89,268.1221,0.01%,12-May-21,268.1221,12-May-21,251.5154,18-May-20
4,DSP Floater Fund - Direct Plan - GrowthFloater...,-,-,10.1674,0.11%,12-May-21,10.1674,12-May-21,10.0000,19-Mar-21

## Exctracting Floater Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
fmf_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/floater-fund.html")
df9 = pd.DataFrame(fmf_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (14, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Kotak Floating Rate Fund - Direct Plan - Growt...,-,4203.62,3.54%,-,-,-,-
1,Kotak Floating Rate Fund - Regular Plan - Grow...,-,4203.62,3.33%,-,-,-,-
2,Nippon India Floating Rate Fund - Direct Plan ...,3,14206.55,3.33%,8.86%,14.32%,23.47%,-
3,ICICI Prudential Floating Interest Fund - Dire...,1,12480.53,3.46%,8.41%,13.42%,23.04%,-
4,Nippon India Floating Rate Fund - GrowthFloate...,3,14206.55,3.42%,8.81%,14.02%,22.52%,52.37%

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (24, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (24, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Kotak Floating Rate Fund - Direct Plan - Growt...,-,4203.62,0.23%,1.10%,2.00%,2.27%,1.57%,9.79%,8.40%,...,12-May-21,1217.6246,12-May-21,1146.4360,18-May-20,3.54%,-,-,-,-
1,Kotak Floating Rate Fund - Regular Plan - Grow...,-,4203.62,0.22%,1.07%,1.90%,2.07%,1.52%,9.35%,8.03%,...,12-May-21,1188.2294,12-May-21,1128.8291,18-May-20,3.33%,-,-,-,-
2,ICICI Prudential Floating Interest Fund - Dire...,1,12480.53,0.16%,0.58%,0.70%,2.49%,0.65%,9.02%,8.67%,...,12-May-21,273.0791,12-May-21,255.7515,18-May-20,3.33%,8.86%,14.32%,23.47%,-
3,ICICI Prudential Floating Interest Fund - Grow...,1,12480.53,0.14%,0.52%,0.52%,2.12%,0.56%,8.23%,7.88%,...,12-May-21,268.1221,12-May-21,251.5154,18-May-20,3.46%,8.41%,13.42%,23.04%,-
4,SBI Floating Rate Debt Fund - Direct Plan - Gr...,-,109.97,0.12%,0.47%,0.59%,2.27%,0.53%,-,-,...,12-May-21,10.1674,12-May-21,10.0000,19-Mar-21,3.42%,8.81%,14.02%,22.52%,52.37%

In [22]:
#Exporting the consolidated fmf mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('fmf_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the fmf mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('fmf_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')