In [2]:
#Importing the required libraries
import pandas as pd

## Exctracting Short Duration Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [3]:
sd_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/short-duration-fund.html")
df1 = pd.DataFrame(sd_lump_sum_rtn[0])

In [4]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (54, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Franklin India Short Term Income Plan - Growth...,1,4656.90,0.25%,1.60%,4.66%,9.75%,2.35%,9.73%,1.09%,3.60%,5.73%,7.54%
1,Franklin India Short Term Income Plan - Direct...,1,4656.90,0.25%,1.60%,4.68%,9.97%,2.35%,10.36%,1.75%,4.33%,6.46%,-
2,Nippon India Short Term Fund - Direct Plan - G...,4,8374.88,0.16%,0.80%,2.25%,2.85%,1.16%,8.74%,9.59%,9.07%,8.33%,-
3,Nippon India Short Term Fund - GrowthShort Dur...,3,8374.88,0.14%,0.74%,2.05%,2.43%,1.07%,7.85%,8.71%,8.24%,7.58%,8.35%
4,Kotak Bond Short Term Plan - Direct Plan - Gro...,3,17020.08,0.13%,0.68%,1.56%,1.87%,0.95%,7.73%,9.43%,9.22%,8.55%,-

## Exctracting Short Duration Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [5]:
sd_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/short-duration-fund.html")
df2 = pd.DataFrame(sd_monthly_rtn[0])

In [6]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (54, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,Franklin India Short Term Income Plan - Growth...,1,0.45%,1.84%,1.56%,1.09%,0.82%,2.20%,2.49%,1.66%,1.40%,-4.03%,-1.19%,0.32%
1,Franklin India Short Term Income Plan - Direct...,1,0.45%,1.84%,1.53%,1.14%,0.88%,2.26%,2.55%,1.72%,1.46%,-3.96%,-1.13%,0.38%
2,ICICI Prudential Short Term Fund - Direct Fund...,4,0.30%,0.70%,0.58%,-0.02%,0.08%,0.50%,0.83%,1.28%,0.10%,-0.08%,1.30%,1.69%
3,ICICI Prudential Short Term Fund - GrowthShort...,4,0.28%,0.64%,0.52%,-0.07%,0.02%,0.44%,0.77%,1.22%,0.04%,-0.14%,1.24%,1.62%
4,Principal Short Term Debt Fund - GrowthShort D...,5,0.24%,0.83%,0.69%,-0.43%,-0.32%,0.29%,0.87%,1.00%,-0.09%,-0.23%,7.66%,1.32%

## Exctracting Short Duration Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [7]:
sd_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/short-duration-fund.html")
df3 = pd.DataFrame(sd_quarterly_rtn[0])

In [8]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (54, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,Franklin India Short Term Income Plan - Growth...,1,2.30%,3.48%,6.57%,-3.72%,-2.10%,-6.01%,0.04%,1.19%,0.43%,2.31%,3.57%,1.76%
1,Franklin India Short Term Income Plan - Direct...,1,2.30%,3.59%,6.77%,-3.54%,-1.92%,-5.85%,0.23%,1.37%,0.62%,2.50%,3.77%,1.95%
2,ICICI Prudential Short Term Fund - Direct Fund...,4,1.00%,0.50%,2.64%,1.82%,4.08%,2.17%,2.41%,2.55%,2.15%,2.71%,2.47%,1.62%
3,ICICI Prudential Short Term Fund - GrowthShort...,4,0.92%,0.32%,2.44%,1.63%,3.89%,1.99%,2.22%,2.36%,1.96%,2.53%,2.27%,1.39%
4,Principal Short Term Debt Fund - GrowthShort D...,5,1.07%,-0.36%,2.14%,7.65%,-2.14%,2.20%,1.63%,2.23%,-7.69%,2.43%,2.33%,1.28%

## Exctracting Short Duration Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [9]:
sd_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/short-duration-fund.html")
df4 = pd.DataFrame(sd_annual_rtn[0])

In [10]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (54, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,BNP Paribas Short Term Fund - Growth Short Dur...,3,1.04%,10.06%,6.90%,6.59%,5.90%,9.20%,8.09%,10.03%,7.75%,9.81%,8.82%,5.59%
1,BNP Paribas Short Term Fund - Direct Plan - Gr...,3,1.30%,10.85%,7.80%,7.41%,6.29%,9.71%,8.83%,10.60%,8.27%,-,-,-
2,IDFC Bond Fund - Short Term - Regular Plan - G...,4,0.98%,9.58%,9.72%,6.39%,5.91%,8.76%,8.08%,10.06%,7.55%,9.32%,9.20%,3.69%
3,IDFC Bond Fund - Short Term - Direct Plan - Gr...,3,1.16%,10.15%,10.23%,6.92%,6.46%,9.35%,8.70%,10.90%,8.28%,-,-,-
4,Axis Short Term Fund - Growth Short Duration Fund,3,1.00%,10.04%,9.74%,6.24%,5.93%,9.60%,8.08%,9.99%,7.19%,10.08%,9.20%,4.09%

## Exctracting Short Duration Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [11]:
sd_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/short-duration-fund.html")
df5 = pd.DataFrame(sd_rank_in_category[0])

In [12]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (52, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,HSBC Short Duration Fund - GrowthShort Duratio...,2,21/27,9/27,4/26,12/26,10/27,1/26,23/26,23/25,22/24,21/22
1,HSBC Short Duration Fund - Direct Plan - Growt...,3,21/27,8/27,3/26,7/26,6/27,1/26,23/26,21/25,22/24,0/0
2,Principal Short Term Debt Fund - GrowthShort D...,5,17/27,3/27,6/26,20/26,2/27,2/26,21/26,19/25,20/24,18/22
3,Principal Short Term Debt Fund - Direct Plan -...,5,20/27,4/27,8/26,24/26,4/27,2/26,21/26,19/25,20/24,0/0
4,Aditya Birla Sun Life Short Term Fund - Regula...,4,15/27,19/27,5/26,4/26,9/27,3/26,3/26,3/25,3/24,1/22

## Exctracting Short Duration Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [13]:
sd_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/short-duration-fund.html")
df6 = pd.DataFrame(sd_risk_ratio[0])

In [14]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (21, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,Franklin India Short Term Income Plan - Growth,1,4656.90,5.18,0.83,0.03,-3.98,0.00
1,ICICI Prudential Short Term Fund - Growth,4,22192.54,1.95,1.03,2.48,-0.29,0.05
2,Principal Short Term Debt Fund - Growth,5,134.71,7.65,1.16,0.16,-4.55,0.01
3,Kotak Bond Short Term Plan - Growth,3,17020.08,1.85,-,2.47,-,0.05
4,HDFC Short Term Debt Fund - Growth,3,17442.84,2.05,1.09,2.48,-0.35,0.05

## Exctracting Short Duration Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [15]:
sd_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/short-duration-fund.html")
df7 = pd.DataFrame(sd_portfolio[0])

In [16]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (54, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,Kotak Bond Short Term Plan - Direct Plan - Gro...,3,-,-,-,98.36%,148,-,1.64%,-
1,Axis Short Term Fund - GrowthShort Duration Fund,3,-,-,-,95.78%,207,-,4.22%,-
2,Tata Short Term Bond Fund - Direct Plan - Grow...,1,-,-,-,95.72%,72,-,4.28%,-
3,Sundaram Short Term Debt Fund - GrowthShort Du...,5,-,-,-,93.44%,22,-,6.56%,-
4,Sundaram Short Term Debt Fund - Direct Plan - ...,5,-,-,-,93.44%,22,-,6.56%,-

## Exctracting Short Duration Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [17]:
sd_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/short-duration-fund.html")
df8 = pd.DataFrame(sd_nav[0])

In [18]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (54, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,Indiabulls Short Term Fund - Direct Plan - Gro...,2,26.18,1864.8140,0.03%,12-May-21,1864.8140,12-May-21,1763.3815,18-May-20
1,Franklin India Short Term Income Plan - Direct...,1,4656.90,4347.9049,0.01%,12-May-21,4347.9049,12-May-21,3778.4472,31-Aug-20
2,Franklin India Short Term Income Plan - Growth...,1,4656.90,4083.8591,0.01%,12-May-21,4083.8591,12-May-21,3561.5126,31-Aug-20
3,Indiabulls Short Term Fund - Regular Plan - Gr...,2,26.18,1703.7348,0.03%,12-May-21,1703.7348,12-May-21,1632.2624,18-May-20
4,Invesco India Short Term Fund - Direct Plan - ...,1,1200.53,3058.0500,0%,12-May-21,3058.0500,12-May-21,2854.1170,18-May-20

## Exctracting Short Duration Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [19]:
sd_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/short-duration-fund.html")
df9 = pd.DataFrame(sd_sip_rtns[0])

In [20]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (52, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Franklin India Short Term Income Plan - Direct...,1,4656.90,8.15%,5.55%,6.63%,13.44%,-
1,Franklin India Short Term Income Plan - Growth...,1,4656.90,7.32%,4.78%,5.48%,11.30%,38.42%
2,HSBC Short Duration Fund - Direct Plan - Growt...,3,164.25,4.21%,6.50%,7.64%,12.83%,-
3,Aditya Birla Sun Life Short Term Fund - Direct...,4,7093.05,3.82%,9.26%,14.78%,24.37%,-
4,Nippon India Short Term Fund - Direct Plan - G...,4,8374.88,3.97%,9.18%,14.70%,23.79%,-

In [21]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (54, 103)

In [22]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (54, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Franklin India Short Term Income Plan - Growth...,1,4656.90,0.25%,1.60%,4.66%,9.75%,2.35%,9.73%,1.09%,...,12-May-21,1864.8140,12-May-21,1763.3815,18-May-20,8.15%,5.55%,6.63%,13.44%,-
1,Franklin India Short Term Income Plan - Direct...,1,4656.90,0.25%,1.60%,4.68%,9.97%,2.35%,10.36%,1.75%,...,12-May-21,4347.9049,12-May-21,3778.4472,31-Aug-20,7.32%,4.78%,5.48%,11.30%,38.42%
2,Nippon India Short Term Fund - Direct Plan - G...,4,8374.88,0.16%,0.80%,2.25%,2.85%,1.16%,8.74%,9.59%,...,12-May-21,4083.8591,12-May-21,3561.5126,31-Aug-20,4.21%,6.50%,7.64%,12.83%,-
3,Nippon India Short Term Fund - GrowthShort Dur...,3,8374.88,0.14%,0.74%,2.05%,2.43%,1.07%,7.85%,8.71%,...,12-May-21,1703.7348,12-May-21,1632.2624,18-May-20,3.82%,9.26%,14.78%,24.37%,-
4,Kotak Bond Short Term Plan - Direct Plan - Gro...,3,17020.08,0.13%,0.68%,1.56%,1.87%,0.95%,7.73%,9.43%,...,12-May-21,3058.0500,12-May-21,2854.1170,18-May-20,3.97%,9.18%,14.70%,23.79%,-

In [23]:
#Exporting the consolidated sd mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('sd_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the sd mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('sd_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')