In [101]:
# Importing respective modules
import pandas as pd
import re

In [102]:
# Reading elss mutual funds csv file
mulc_mf = pd.read_csv('mulc_mf_data(11-May-2021 12:37:58).csv')

In [103]:
# Extracting a plan from "Scheme Name" column
scheme_name = list(mulc_mf['Scheme Name'])
plan = []
for i in scheme_name:
    #print(type(i))
    plan.append(re.findall("Direct|Regular", str(i)))
#plan
for p in plan:
    if len(p) == 0:
        #print(type(p))
        p.append("Regular")
mulc_mf['Plan'] = plan

In [104]:
# Extracting a category from "Scheme Name" column
scheme_name = list(mulc_mf['Scheme Name'])
category = []
for i in scheme_name:
    #print(type(i))
    category.append(re.findall("Multi Cap Fund", str(i)))
mulc_mf['Category'] = category

In [105]:
# Modifiying 'Scheme Name' column
mulc_mf['Scheme Name'] = mulc_mf['Scheme Name'].str.replace(' - GrowthMulti Cap Fund', '')

In [106]:
#Replacing "']" & "['" string with "" in Plan columns
mulc_mf['Plan'] = mulc_mf['Plan'].astype(str).str.replace("\['","", regex=True)
mulc_mf['Plan'] = mulc_mf['Plan'].astype(str).str.replace("']","", regex=True)

#Replacing "']" & "['" string with "" in Category columns
mulc_mf['Category'] = mulc_mf['Category'].astype(str).str.replace("\['","", regex=True)
mulc_mf['Category'] = mulc_mf['Category'].astype(str).str.replace("']","", regex=True)

In [107]:
#Replacing "ELSS', 'ELSS" string with "ELSS" in Category columns
mulc_mf['Category'] = mulc_mf['Category'].astype(str).str.replace("Multi Cap Fund', 'Multi Cap Fund",
                                                                  "Multi Cap Fund", regex=True)

#Replacing "%" string with "" in Crisil Rank, % Debt Holding, No of instruments in portfolio,
# % MF Holding, % Other Holding, Turnover ratio, MTD, 10Y_SIP_RTN(%) & 5Y_SIP_RTN(%) columns
mulc_mf[['% Debt Holding', 'No of instruments in portfolio',
          '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
          'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'         
         ]] = mulc_mf[['% Debt Holding', 'No of instruments in portfolio',
                        '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
                        'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'
                        ]].replace("%", "", regex=True)

#Replacing "-" string with "0" in Crisil Rank columns
mulc_mf['Crisil Rank'] = mulc_mf['Crisil Rank'].replace("-", "", regex=True)

In [108]:
#Replacing "-" string with "0" in Crisil Rank columns
mulc_mf['Crisil Rank'] = mulc_mf['Crisil Rank'].replace("", "0", regex=True)

#Replacing "%" with '' in the column
mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"
                       ]].replace("%", "", regex=True)
print("Shape of the dataframe:", mulc_mf.shape)
mulc_mf.head()

Shape of the dataframe: (58, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan
0,Quant Active Fund - Direct Plan,5,259.96,5.84,9.86,24.75,56.70,32.67,121.60,42.74,...,362.3701,10-May-21,160.0033,18-May-20,57.15,79.92,87.54,108.37,-,Direct
1,Quant Active Fund,5,259.96,5.82,9.71,24.15,55.12,31.74,117.92,41.47,...,351.4281,10-May-21,157.7978,18-May-20,55.37,77.33,84.40,104.02,222.81,Regular
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,4.93,7.68,16.39,43.34,25.15,75.20,15.79,...,403.8500,03-Mar-21,227.5400,18-May-20,41.19,41.87,35.73,-,-,Regular
3,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,4.89,7.67,16.37,43.51,25.29,75.78,16.46,...,375.6900,03-Mar-21,213.3000,18-May-20,40.97,41.19,34.51,-,-,Direct
4,Nippon India India Opportunities Fund - Series...,0,764.88,4.16,3.61,3.52,39.30,17.14,83.63,13.03,...,145.7500,10-May-21,83.2600,18-May-20,35.52,55.12,61.09,-,-,Direct

In [109]:
#Sorting a mulc_mf dataframe by "Crisil Rank Column"
mulc_mf.sort_values(by=['Crisil Rank', 'Scheme Name', 'AuM (Cr)'], inplace=True, ascending=False)
print("Shape of the dataframe:", mulc_mf.shape)
mulc_mf.head()

Shape of the dataframe: (58, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan
0,Quant Active Fund - Direct Plan,5,259.96,5.84,9.86,24.75,56.70,32.67,121.60,42.74,...,362.3701,10-May-21,160.0033,18-May-20,57.15,79.92,87.54,108.37,-,Direct
1,Quant Active Fund,5,259.96,5.82,9.71,24.15,55.12,31.74,117.92,41.47,...,351.4281,10-May-21,157.7978,18-May-20,55.37,77.33,84.40,104.02,222.81,Regular
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,2.86,3.29,7.81,32.47,19.37,72.37,25.02,...,184.0600,15-Feb-21,107.7000,18-May-20,33.34,42.39,47.31,-,-,Regular
8,Mahindra Manulife Multi Cap Badhat Yojana - Di...,4,472.11,2.89,3.44,8.26,33.60,20.10,75.39,27.15,...,195.6600,10-Mar-21,113.8000,18-May-20,34.05,52.62,57.67,-,-,Direct
24,Baroda Multi Cap Fund - Plan B (Direct),4,980.13,1.97,2.11,5.45,26.88,13.14,68.02,20.46,...,13.9369,10-May-21,8.3463,18-May-20,28.82,36.34,38.06,47.15,-,Direct

In [110]:
#Replacing "-" with 'None' in the columns
mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"]].replace({'-' : None})

In [111]:
#Replacing "" with '0' in the columns

mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank'
         ]] = mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',\
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank']].fillna(value='0')

In [112]:
#Changing the datatype of the return & risk ratio columns

mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"
         ]] = mulc_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"]].apply(pd.to_numeric)

In [113]:
#Changing the datatype of the 'Crisil Rank' columns
mulc_mf['Crisil Rank'] = mulc_mf['Crisil Rank'].astype('int')

In [114]:
#Removing white spaces at both ends in all over the dataframe:

mulc_mf.columns = mulc_mf.columns.str.strip()

#Checking the data type of all columns in the DataFrame
mulc_mf_dtype = mulc_mf.dtypes

df_dtypes = pd.DataFrame(mulc_mf_dtype)

In [115]:
#Using pandas dataframe.round()function to round off all the decimal values to 2 decimal places
mulc_mf = mulc_mf.round(2)

In [116]:
# #Exporting the consolidated elss mf data as a  csv file
# print("Shape of the dataframe:", mulc_mf.shape)
mulc_mf.to_csv('final_mulc_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv',
                 index=False)

# #Exporting the elss mf data columns with its datatype as a  csv file
# df_dtypes.to_csv('mulc_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')

In [117]:
#Exctracting regular mutual funds
regular_mf = mulc_mf.loc[mulc_mf['Plan'] == 'Regular']
regular_mf.head()

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan
1,Quant Active Fund,5,259.96,5.82,9.71,24.15,55.12,31.74,117.92,41.47,...,351.43,10-May-21,157.80,18-May-20,55.37,77.33,84.40,104.02,222.81,Regular
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,2.86,3.29,7.81,32.47,19.37,72.37,25.02,...,184.06,15-Feb-21,107.70,18-May-20,33.34,42.39,47.31,0.00,0.00,Regular
27,Baroda Multi Cap Fund - Plan A,4,980.13,1.96,2.05,5.24,26.35,12.81,66.71,19.52,...,14.91,15-Feb-21,8.99,18-May-20,27.83,29.99,30.24,38.09,106.71,Regular
45,Principal Multi Cap Growth Fund,3,715.53,1.30,0.69,1.60,22.67,10.77,61.93,15.59,...,11.87,15-Feb-21,7.93,26-May-20,22.56,30.00,34.05,0.00,0.00,Regular
35,Invesco India Multicap Fund,3,1171.10,1.80,2.48,2.71,27.47,11.80,61.39,19.54,...,14.77,03-Mar-21,8.70,18-May-20,25.53,30.71,30.95,39.64,117.82,Regular

In [118]:
# Basic statistics of regular mutual fund df
regular_mf.describe()

,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),...,% Other Holding,NAV,1D Change(%),52W High,52W Low,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,...,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,0.827586,865.424138,2.020690,1.965517,4.000000,26.308621,12.737931,61.457586,16.337586,6.027586,...,0.076552,56.306552,0.771034,56.882759,31.255517,26.998621,29.620000,22.696207,13.595172,26.405862
std,1.513486,1880.712867,1.353379,2.301676,5.268067,9.854084,6.102059,21.172389,9.790886,6.650257,...,0.330749,97.928271,0.431321,99.045177,51.811556,9.367113,15.315477,21.112968,25.089520,56.591832
min,0.000000,0.000000,-0.920000,-1.710000,-2.200000,0.000000,0.000000,0.000000,0.000000,-2.490000,...,0.000000,10.070000,0.000000,10.070000,6.060000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,73.630000,1.410000,0.630000,1.360000,21.790000,8.970000,56.610000,9.940000,0.000000,...,0.000000,13.540000,0.560000,13.700000,8.020000,23.170000,28.160000,0.000000,0.000000,0.000000
50%,0.000000,259.960000,1.950000,1.570000,2.710000,26.070000,12.070000,61.390000,17.460000,4.330000,...,0.000000,14.670000,0.650000,14.790000,8.860000,27.240000,30.940000,27.410000,0.000000,0.000000
75%,1.000000,666.700000,2.130000,2.480000,5.240000,31.710000,16.080000,70.750000,20.940000,10.140000,...,0.000000,22.170000,0.850000,22.170000,12.520000,30.350000,34.400000,35.940000,33.870000,0.000000
max,5.000000,8970.580000,5.820000,9.710000,24.150000,55.120000,31.740000,117.920000,41.470000,25.260000,...,1.730000,395.670000,1.920000,403.850000,227.540000,55.370000,77.330000,84.400000,104.020000,222.810000

In [119]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 4 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43
27,Baroda Multi Cap Fund - Plan A,4,980.13,66.71,10.76,13.17,10.33,14.87
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07
37,BNP Paribas Multi Cap Fund,2,517.68,58.81,10.10,12.89,13.46,14.24

In [120]:
# Extracting  last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'
#greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is: 4
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
1,Quant Active Fund,5,259.96,351.43,11.26,14.66,-10.16,44.90,3.08
27,Baroda Multi Cap Fund - Plan A,4,980.13,14.87,0.41,4.38,-1.36,2.75,0.00
23,ICICI Prudential Multicap Fund,2,5736.80,10.07,0.00,0.00,0.00,0.00,0.00
37,BNP Paribas Multi Cap Fund,2,517.68,14.24,12.57,12.32,-1.32,0.00,0.00

In [121]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 12% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 12% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65,0.0,18.41,0.86

In [122]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is: 1
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
1,Quant Active Fund,5,259.96,351.43,11.26,14.66,-10.16,44.9,3.08

In [123]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65,0.0,18.41,0.86

In [124]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
1,Quant Active Fund,5,259.96,351.43,11.26,14.66,-10.16,44.9,3.08

In [125]:
# Extracting funds which have '5Y Return' & '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65,0.0,18.41,0.86

In [126]:
# Extracting last five years annual return for funds which have 5Y Return', '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
1,Quant Active Fund,5,259.96,351.43,11.26,14.66,-10.16,44.9,3.08

## Portfolio Turnover Ratio(PTR)

Portfolio Turnover Ratio is the frequency in which the assets held under a fund has changed over the years. In simpler words, PTR provides a measurement on how many times the fund managers bought or sold the assets under a fund over a period of time. PTR is often determined by the market conditions and fund management style.

Suppose an equity fund purchased stocks worth Rs. 375 crore and sold stocks worth Rs. 450 crore. The average AUM of the fund is Rs.1500 crore. In this case, the Portfolio turnover ratio of the fund is 25%, which means one-fourth of the stocks were traded.

Funds that have higher turnover ratios, for example, can trigger higher costs for investors. First, a fund that’s actively managed may charge a higher expense ratio to cover the fund manager’s services. The expense ratio represents the percentage you pay to own the fund on an annualized basis. At the low end, you can find index funds with expense ratios around 0.50% to 0.10%. But the most expensive funds can easily have expense ratios over 1%.

Turnover ratio can also give you an idea of what the fund’s investment strategy is, which is important for choosing funds that align with your goals and objectives. A growth mutual fund, for instance, may have a higher turnover ratio if the fund manager is constantly looking for the best growth stocks to drive returns. But a fund that uses a value investing approach may have a lower turnover ratio if the fund manager is buying assets that have the potential to appreciate over time.

In [127]:
# Top 10 low turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 low turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nsmallest(10, 'Turnover ratio(%)')

Top 10 low turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.0,0.0,395.67,36.0
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.0,0.0,122.31,36.0
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.0,0.0,70.49,108.0
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.0,0.0,183.35,420.0

In [128]:
# Top 10 high turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 high turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nlargest(10, 'Turnover ratio(%)')

Top 10 high turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.0,0.0,183.35,420.0
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.0,0.0,70.49,108.0
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.0,0.0,395.67,36.0
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.0,0.0,122.31,36.0

## Standard Deviation (SD)

The standard deviation of a stock or a mutual fund represents the riskiness of the stock or the mutual fund.

Standard Deviation is a percentage, expressed as an annualised figure.

Higher the standard Deviation, higher is the volatility of the asset. Higher the volatility, higher is the risk.

Do note, volatility or Standard Deviation should not worry you. Markets are volatile, and equities are volatile, mutual funds are volatile; this is the very nature of markets. So if you can’t fathom watching your investment see-saw between gains and loss, then perhaps you should reconsider your investment decision inequities.

In [129]:
# Top 10 low standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 low standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nsmallest(10, 'Standard Deviation')

Top 10 low standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,14.76
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,16.25
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,18.36
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,18.41
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,19.64
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,19.68
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,19.91
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,19.92
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,20.01
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,20.31

In [130]:
# Top 10 high standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 high standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nlargest(10, 'Standard Deviation')

Top 10 high standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.00,0.00,22.17,25.98
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,20.95,24.50
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,20.31
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,20.01
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,19.92
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,19.91
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,19.68
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,19.64
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,18.41
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,18.36

## Beta Ratios

A Beta Ratio in Mutual Funds offers investors the data on the degree of the volatility a Mutual Fund displays in response to market fluctuations. An investor can determine which fund would be best suited to meet his/her financial objectives.

Suppose, the beta ratio of a specific Mutual Fund is 0.7 or 70%; it means the fund is 0.3 or 30% less volatile than the benchmark index. A Beta ratio value of 1 indicates a lower risk and lower growth potential compared to ratios at par or above 1.

Investors with a low-risk appetite would always prefer a lower beta ratio in Mutual Funds as it indicates a steadier response to a volatile market condition. Similarly, investors with the investment objective of higher returns would prefer beta ratios of 1 or more than 1.

In [131]:
# Top 10 low beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 low beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nsmallest(10, 'Beta')

Top 10 low beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,0.45
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,0.57
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,0.61
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.73
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,0.74
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.83
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.86
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.92
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.94
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.94

In [132]:
# Top 10 high beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 high beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nlargest(10, 'Beta')

Top 10 high beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,20.95,1.11
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.00,0.00,22.17,1.04
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.94
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.94
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.92
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.86
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.83
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,0.74
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.73
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,0.61

In [133]:
# Funds with 'Beta' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] < 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.86
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,0.61
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.94
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.83
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.92
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,0.74
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,0.57
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.94
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.73
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,0.45

In [134]:
# Funds with 'Beta' greater than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.0,0.0,20.95,1.11
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.0,0.0,22.17,1.04

## What is Sharpe Ratio?

Sharpe Ratio of a mutual fund reveals its potential risk-adjusted returns. The risk-adjusted returns are the returns earned by an investment over the returns generated by any risk-free asset such as a fixed deposit. However, higher returns indicate extra risk. Higher Sharpe Ratio means greater returns from an investment but with a higher risk level. Therefore, it justifies the underlying volatility of the funds. The investors aiming for higher returns will have to invest in funds with higher risk factors.

Investments with less than 1.00 Sharpe Ratio do not generate high returns. Contrarily, investment with Sharpe Ratio of 1.00 to 3.00 or above have higher returns subsequently.

In [135]:
# Top 10 low sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 low 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nsmallest(10, 'Sharpe Ratio')

Top 10 low 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.00,0.00,22.17,0.03
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,0.08
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,0.11
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.27
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,20.95,0.35
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.37
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.47
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.52
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.55
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,0.60

In [136]:
# Top 10 high sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nlargest(10, 'Sharpe Ratio')

Top 10 high 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,0.64
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,0.60
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.55
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.52
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.47
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.37
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,20.95,0.35
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.27
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,0.11

In [137]:
# Funds with 'Sharpe Ratio' greater than or equal to 3.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] >= 3.00)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [138]:
# Funds with 'Sharpe Ratio' greater than to 2.00 & lesser than 2.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 2.00) & (regular_mf['Sharpe Ratio'] < 2.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [139]:
# Funds with 'Sharpe Ratio' greater than to 1.00 & lesser than 1.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 1.00) & (regular_mf['Sharpe Ratio'] < 1.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [140]:
# Funds with 'Sharpe Ratio' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] != 0.00) & (regular_mf['Sharpe Ratio'] < 1.00)]
print("Funds with 'Sharpe Ratio' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Funds with 'Sharpe Ratio' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,183.35,0.08
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,10.07,0.52
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,10.95,0.27
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,135.46,0.37
13,Nippon India Capital Builder Fund IV - Series B,0,35.09,70.32,3.36,0.00,0.00,62.49,0.64
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,70.49,0.11
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,20.95,0.35
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.00,0.00,22.17,0.03
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,13.62,0.55
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,395.67,0.47
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,122.31,0.60

In [141]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['10Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is: 6 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,84.40,104.02,222.81,351.43,0.65,0.0,18.41,0.86
27,Baroda Multi Cap Fund - Plan A,4,980.13,30.24,38.09,106.71,14.87,0.00,0.0,0.00,0.00
35,Invesco India Multicap Fund,3,1171.10,30.95,39.64,117.82,14.49,0.00,0.0,0.00,0.00
23,ICICI Prudential Multicap Fund,2,5736.80,38.04,43.94,94.95,10.07,0.52,0.0,20.01,0.94
28,Sundaram Multi Cap Fund Series I,0,118.80,35.17,41.61,134.04,16.23,0.00,0.0,0.00,0.00
11,ITI Multi Cap Fund - Regular Plan,0,217.86,28.02,33.87,89.44,70.49,0.11,108.0,20.31,0.57

In [142]:
# Extracting funds which have 3Y Return' & '5Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is: 8 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,84.40,104.02,222.81,351.43,0.65,0.0,18.41,0.86
27,Baroda Multi Cap Fund - Plan A,4,980.13,30.24,38.09,106.71,14.87,0.00,0.0,0.00,0.00
35,Invesco India Multicap Fund,3,1171.10,30.95,39.64,117.82,14.49,0.00,0.0,0.00,0.00
23,ICICI Prudential Multicap Fund,2,5736.80,38.04,43.94,94.95,10.07,0.52,0.0,20.01,0.94
29,Sundaram Multi Cap Fund Series II,0,70.03,36.18,45.81,0.00,15.66,0.00,0.0,0.00,0.00
28,Sundaram Multi Cap Fund Series I,0,118.80,35.17,41.61,134.04,16.23,0.00,0.0,0.00,0.00
11,ITI Multi Cap Fund - Regular Plan,0,217.86,28.02,33.87,89.44,70.49,0.11,108.0,20.31,0.57
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,39.81,47.28,0.00,22.17,0.03,0.0,25.98,1.04

In [143]:
# Extracting funds which have '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['1Y_SIP_RTN(%)'] > 25) & (regular_mf['2Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['3Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is: 12 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,55.37,77.33,84.40,351.43,0.65,0.0,18.41,0.86
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,33.34,42.39,47.31,183.35,0.08,420.0,18.36,0.61
27,Baroda Multi Cap Fund - Plan A,4,980.13,27.83,29.99,30.24,14.87,0.00,0.0,0.00,0.00
35,Invesco India Multicap Fund,3,1171.10,25.53,30.71,30.95,14.49,0.00,0.0,0.00,0.00
23,ICICI Prudential Multicap Fund,2,5736.80,29.07,35.69,38.04,10.07,0.52,0.0,20.01,0.94
29,Sundaram Multi Cap Fund Series II,0,70.03,27.24,32.27,36.18,15.66,0.00,0.0,0.00,0.00
28,Sundaram Multi Cap Fund Series I,0,118.80,27.81,34.40,35.17,16.23,0.00,0.0,0.00,0.00
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,30.35,46.50,53.81,10.95,0.27,0.0,19.91,0.83
11,ITI Multi Cap Fund - Regular Plan,0,217.86,32.72,29.89,28.02,70.49,0.11,108.0,20.31,0.57
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,29.57,30.94,27.41,20.95,0.35,0.0,24.50,1.11
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,29.69,36.86,39.81,22.17,0.03,0.0,25.98,1.04
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,41.19,41.87,35.73,395.67,0.47,36.0,16.25,0.73

In [144]:
# Top 10 high AuM (Cr) regular mutual funds are
#mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 high 'AuM (Cr)' regular mutual funds are :")
mf_tr =  mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nlargest(10, 'AuM (Cr)')
mf_tr

Top 10 high 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,0.52,0.0,20.01,0.94
5,Nippon India India Opportunities Fund - Series A,0,764.88,82.30,0.00,0.00,0.00,0.37,0.0,19.92,0.92
6,Aditya Birla Sun Life Resurgent India Fund - S...,0,590.26,60.28,-2.49,0.00,0.00,0.60,36.0,14.76,0.45
9,Mahindra Manulife Multi Cap Badhat Yojana - Re...,4,472.11,72.37,15.13,0.00,0.00,0.08,420.0,18.36,0.61
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,0.65,0.0,18.41,0.86
11,ITI Multi Cap Fund - Regular Plan,0,217.86,56.61,0.00,0.00,0.00,0.11,108.0,20.31,0.57
2,Aditya Birla Sun Life Resurgent India Fund - S...,0,124.25,75.20,2.15,0.00,0.00,0.47,36.0,16.25,0.73
17,DSP A.C.E. Fund - Series 2,0,108.82,33.97,13.42,0.00,0.00,0.55,0.0,19.64,0.94
21,HDFC Equity Opportunities Fund - Series II - 1...,0,73.63,44.61,4.33,0.00,0.00,0.35,0.0,24.50,1.11
20,HDFC Equity Opportunities Fund - Series II - 1...,0,69.99,44.61,4.33,0.00,0.00,0.03,0.0,25.98,1.04

In [145]:
# Top 10 low AuM (Cr) regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 low 'AuM (Cr)' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nsmallest(10, 'AuM (Cr)')

Top 10 low 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
16,SBI Equity Opportunities Fund – Series IV - Re...,0,22.46,69.05,8.72,14.78,0.00,0.27,0.0,19.91,0.83
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,0.65,0.0,18.41,0.86
37,BNP Paribas Multi Cap Fund,2,517.68,58.81,10.10,12.89,13.46,0.00,0.0,0.00,0.00
45,Principal Multi Cap Growth Fund,3,715.53,61.93,7.80,14.64,13.91,0.00,0.0,0.00,0.00
27,Baroda Multi Cap Fund - Plan A,4,980.13,66.71,10.76,13.17,10.33,0.00,0.0,0.00,0.00
35,Invesco India Multicap Fund,3,1171.10,61.39,8.70,13.27,16.48,0.00,0.0,0.00,0.00
23,ICICI Prudential Multicap Fund,2,5736.80,66.32,10.14,12.99,12.62,0.52,0.0,20.01,0.94
31,Nippon India Multicap Fund,1,8970.58,76.21,7.16,11.36,12.45,0.00,0.0,0.00,0.00

In [146]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 0) & (regular_mf['AuM (Cr)'] < 500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,Quant Active Fund,5,259.96,117.92,25.26,22.17,17.36,351.43,0.65,0.0,18.41,0.86

In [147]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 500Crs to 1000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 500) & (regular_mf['AuM (Cr)'] < 1000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 2 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
27,Baroda Multi Cap Fund - Plan A,4,980.13,66.71,10.76,13.17,10.33,14.87,0.0,0.0,0.0,0.0
37,BNP Paribas Multi Cap Fund,2,517.68,58.81,10.10,12.89,13.46,14.24,0.0,0.0,0.0,0.0

In [148]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1000) & (regular_mf['AuM (Cr)'] < 1500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [149]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1500 to 20000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1500) & (regular_mf['AuM (Cr)'] < 20000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
23,ICICI Prudential Multicap Fund,2,5736.8,66.32,10.14,12.99,12.62,10.07,0.52,0.0,20.01,0.94