In [37]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Banking and PSU Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [38]:
bpsu_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/banking-and-psu-fund.html")
df1 = pd.DataFrame(bpsu_lump_sum_rtn[0])

In [39]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (44, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Tata Banking & PSU Debt Fund - Direct Plan - G...,2,470.65,0.21%,0.89%,1.63%,1.90%,1.29%,8.25%,-,-,-,-
1,Tata Banking & PSU Debt Fund - Regular Plan - ...,2,470.65,0.21%,0.86%,1.51%,1.65%,1.23%,7.71%,-,-,-,-
2,Kotak Banking and PSU Debt Fund - Direct Plan ...,3,9675.19,0.18%,0.63%,1.42%,1.87%,0.95%,7.80%,9.77%,9.48%,8.71%,-
3,Kotak Banking and PSU Debt Fund - GrowthBankin...,3,9675.19,0.17%,0.60%,1.31%,1.66%,0.90%,7.36%,9.37%,9.09%,8.32%,8.59%
4,ICICI Prudential Banking & PSU Debt Fund - Dir...,5,14384.86,0.17%,0.67%,1.37%,2.24%,0.95%,8.05%,9.24%,8.72%,8.42%,-

## Exctracting Banking and PSU Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [40]:
bpsu_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/banking-and-psu-fund.html")
df2 = pd.DataFrame(bpsu_monthly_rtn[0])

In [41]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (44, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,IDFC Banking & PSU Debt Fund - Regular Plan - ...,4,0.17%,0.65%,0.77%,-0.06%,-0.30%,0.20%,0.94%,0.97%,0.01%,0.06%,0.99%,1.73%
1,IDFC Banking & PSU Debt Fund - Direct Plan - G...,4,0.18%,0.68%,0.80%,-0.03%,-0.28%,0.23%,0.96%,1.00%,0.04%,0.09%,1.02%,1.75%
2,Axis Banking & PSU Debt Fund - GrowthBanking a...,4,0.14%,0.59%,0.57%,0.10%,-0.24%,0.21%,0.81%,0.86%,0.09%,0.17%,0.84%,1.58%
3,Axis Banking & PSU Debt Fund - Direct Plan - G...,4,0.15%,0.61%,0.59%,0.12%,-0.21%,0.24%,0.83%,0.89%,0.11%,0.19%,0.87%,1.61%
4,Aditya Birla Sun Life Banking & PSU Debt Fund ...,3,0.24%,0.76%,0.76%,-0.40%,-0.21%,0.32%,0.88%,1.38%,-0.03%,-0.34%,1.14%,1.71%

## Exctracting Banking and PSU Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [42]:
bpsu_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/banking-and-psu-fund.html")
df3 = pd.DataFrame(bpsu_quarterly_rtn[0])

In [43]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (44, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,IDFC Banking & PSU Debt Fund - Regular Plan - ...,4,0.82%,0.27%,2.12%,1.31%,4.33%,2.55%,2.16%,3.30%,1.81%,3.48%,3.58%,1.15%
1,IDFC Banking & PSU Debt Fund - Direct Plan - G...,4,0.85%,0.35%,2.21%,1.40%,4.42%,2.64%,2.25%,3.39%,1.88%,3.55%,3.64%,1.21%
2,Axis Banking & PSU Debt Fund - GrowthBanking a...,4,0.73%,0.35%,1.89%,1.28%,3.86%,2.04%,2.10%,2.98%,1.61%,3.21%,3.37%,1.33%
3,Axis Banking & PSU Debt Fund - Direct Plan - G...,4,0.77%,0.42%,1.97%,1.36%,3.94%,2.11%,2.18%,3.21%,1.68%,3.27%,3.44%,1.40%
4,Aditya Birla Sun Life Banking & PSU Debt Fund ...,3,1.00%,-0.14%,2.58%,1.19%,4.08%,2.38%,2.00%,2.70%,2.38%,2.44%,2.74%,1.59%

## Exctracting Banking and PSU Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [44]:
bpsu_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/banking-and-psu-fund.html")
df4 = pd.DataFrame(bpsu_annual_rtn[0])

In [45]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (44, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,IDFC Banking & PSU Debt Fund - Regular Plan - ...,4,1.09%,10.81%,11.22%,7.25%,5.50%,7.97%,8.51%,9.22%,7.17%,-,-,-
1,IDFC Banking & PSU Debt Fund - Direct Plan - G...,4,1.21%,11.20%,11.56%,7.50%,5.70%,8.08%,8.64%,9.34%,7.27%,-,-,-
2,Axis Banking & PSU Debt Fund - Growth Banking ...,4,1.10%,9.48%,10.55%,7.48%,7.18%,8.34%,8.48%,9.23%,8.59%,5.18%,-,-
3,Axis Banking & PSU Debt Fund - Direct Plan - G...,4,1.19%,9.82%,10.88%,7.79%,7.37%,8.53%,8.66%,9.46%,8.73%,-,-,-
4,Aditya Birla Sun Life Banking & PSU Debt Fund ...,3,0.86%,10.82%,9.91%,6.62%,5.61%,12.20%,8.49%,12.42%,9.59%,9.85%,9.26%,5.80%

## Exctracting Banking and PSU Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [46]:
bpsu_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/banking-and-psu-fund.html")
df5 = pd.DataFrame(bpsu_rank_in_category[0])

In [47]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (36, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,HDFC Banking & PSU Debt Fund - Direct Plan - G...,3,7/22,11/22,15/22,2/20,10/22,1/18,8/17,6/17,5/17,0/0
1,HDFC Banking & PSU Debt Fund - Regular Plan - ...,3,7/22,13/22,15/22,3/20,9/22,1/18,9/17,8/17,6/17,0/0
2,Tata Banking & PSU Debt Fund - Regular Plan - ...,2,1/22,1/22,14/22,15/20,3/22,2/18,0/0,0/0,0/0,0/0
3,Tata Banking & PSU Debt Fund - Direct Plan - G...,2,1/22,2/22,13/22,11/20,3/22,2/18,0/0,0/0,0/0,0/0
4,ICICI Prudential Banking & PSU Debt Fund - Dir...,5,3/22,7/22,19/22,1/20,14/22,3/18,11/17,13/17,11/17,0/0

## Exctracting Banking and PSU Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [48]:
bpsu_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/banking-and-psu-fund.html")
df6 = pd.DataFrame(bpsu_risk_ratio[0])

In [49]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (14, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,Franklin India Banking & PSU Debt Fund - Regul...,2,1003.61,2.71,1.45,1.97,-1.89,0.04
1,ICICI Prudential Banking & PSU Debt Fund - Growth,5,14384.86,2.20,1.11,2.03,-1.09,0.04
2,Kotak Banking and PSU Debt Fund - Growth,3,9675.19,2.32,0.88,2.25,0.77,0.06
3,HDFC Banking & PSU Debt Fund - Regular Plan - ...,3,9843.70,2.42,1.29,2.07,-1.43,0.04
4,IDFC Banking & PSU Debt Fund - Regular Plan - ...,4,18412.01,2.68,0.02,2.17,5.69,3.75

## Exctracting Banking and PSU Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [50]:
bpsu_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/banking-and-psu-fund.html")
df7 = pd.DataFrame(bpsu_portfolio[0])

In [51]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (44, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,ITI Banking & PSU Debt Fund - Regular Plan - G...,-,-,-,-,84.15%,6,-,15.85%,-
1,Sundaram Banking & PSU Debt Fund - INSTITUTION...,4,-,-,-,80.89%,28,-,19.11%,-
2,SBI Banking and PSU Fund - Regular Plan - Grow...,2,-,-,-,82.75%,91,-,17.25%,-
3,Kotak Banking and PSU Debt Fund - GrowthBankin...,3,-,-,-,97.30%,104,-,2.70%,-
4,UTI-Banking & PSU Debt Fund - GrowthBanking an...,1,-,-,-,90.04%,19,-,9.96%,-

## Exctracting Banking and PSU Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [52]:
bpsu_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/banking-and-psu-fund.html")
df8 = pd.DataFrame(bpsu_nav[0])

In [53]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (44, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,Sundaram Banking & PSU Debt Fund - Direct Plan...,4,920.62,34.3184,0.01%,12-May-21,34.3184,12-May-21,32.5144,18-May-20
1,Sundaram Banking & PSU Debt Fund - INSTITUTION...,4,920.62,34.0415,0.01%,12-May-21,34.0415,12-May-21,32.3012,18-May-20
2,Edelweiss Banking and PSU Debt Fund - Direct P...,3,468.94,19.6876,0.01%,12-May-21,19.6876,12-May-21,18.2560,19-May-20
3,Edelweiss Banking and PSU Debt Fund - Regular ...,3,468.94,19.2499,0.01%,12-May-21,19.2499,12-May-21,17.9101,19-May-20
4,LIC MF Banking & PSU Debt - Direct Plan - Grow...,3,2233.54,29.1295,0.01%,12-May-21,29.1295,12-May-21,27.4184,18-May-20

## Exctracting Banking and PSU Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [54]:
bpsu_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/banking-and-psu-fund.html")
df9 = pd.DataFrame(bpsu_sip_rtns[0])

In [55]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (36, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,HDFC Banking & PSU Debt Fund - Direct Plan - G...,3,9843.70,3.39%,8.88%,14.75%,24.30%,-
1,Edelweiss Banking and PSU Debt Fund - Direct P...,3,468.94,3.36%,10.11%,17.21%,27.68%,-
2,ICICI Prudential Banking & PSU Debt Fund - Dir...,5,14384.86,3.33%,8.43%,13.85%,22.89%,-
3,Nippon India Banking & PSU Debt Fund - Direct ...,3,6918.00,3.08%,8.73%,14.85%,24.65%,-
4,Tata Banking & PSU Debt Fund - Direct Plan - G...,2,470.65,3.06%,-,-,-,-

In [56]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (44, 103)

In [57]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (44, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Tata Banking & PSU Debt Fund - Direct Plan - G...,2,470.65,0.21%,0.89%,1.63%,1.90%,1.29%,8.25%,-,...,12-May-21,34.3184,12-May-21,32.5144,18-May-20,3.39%,8.88%,14.75%,24.30%,-
1,Tata Banking & PSU Debt Fund - Regular Plan - ...,2,470.65,0.21%,0.86%,1.51%,1.65%,1.23%,7.71%,-,...,12-May-21,34.0415,12-May-21,32.3012,18-May-20,3.36%,10.11%,17.21%,27.68%,-
2,Kotak Banking and PSU Debt Fund - Direct Plan ...,3,9675.19,0.18%,0.63%,1.42%,1.87%,0.95%,7.80%,9.77%,...,12-May-21,19.6876,12-May-21,18.2560,19-May-20,3.33%,8.43%,13.85%,22.89%,-
3,Kotak Banking and PSU Debt Fund - GrowthBankin...,3,9675.19,0.17%,0.60%,1.31%,1.66%,0.90%,7.36%,9.37%,...,12-May-21,19.2499,12-May-21,17.9101,19-May-20,3.08%,8.73%,14.85%,24.65%,-
4,ICICI Prudential Banking & PSU Debt Fund - Dir...,5,14384.86,0.17%,0.67%,1.37%,2.24%,0.95%,8.05%,9.24%,...,12-May-21,29.1295,12-May-21,27.4184,18-May-20,3.06%,-,-,-,-

In [59]:
#Exporting the consolidated bpsu mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('bpsu_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the bpsu mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('bpsu_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')