In [51]:
# Importing respective modules
import pandas as pd
import re

In [52]:
# Reading elss mutual funds csv file
ah_mf = pd.read_csv('ah_mf_data(18-May-2021 17:57:37).csv')

In [53]:
# Extracting a plan from "Scheme Name" column
ahheme_name = list(ah_mf['Scheme Name'])
plan = []
for i in ahheme_name:
    #print(type(i))
    plan.append(re.findall("Direct|Regular", str(i)))
#plan
for p in plan:
    if len(p) == 0:
        #print(type(p))
        p.append("Regular")
ah_mf['Plan'] = plan

In [54]:
# Extracting a category from "Scheme Name" column
ahheme_name = list(ah_mf['Scheme Name'])
category = []
for i in ahheme_name:
    #print(type(i))
    category.append(re.findall("Aggressive Hybrid Fund", str(i)))
ah_mf['Category'] = category

In [55]:
# Modifiying 'Scheme Name' column
ah_mf['Scheme Name'] = ah_mf['Scheme Name'].str.replace(' - GrowthAggressive Hybrid Fund', '')

In [56]:
#Replacing "']" & "['" string with "" in Plan columns
ah_mf['Plan'] = ah_mf['Plan'].astype(str).str.replace("\['","", regex=True)
ah_mf['Plan'] = ah_mf['Plan'].astype(str).str.replace("']","", regex=True)

#Replacing "']" & "['" string with "" in Category columns
ah_mf['Category'] = ah_mf['Category'].astype(str).str.replace("\['","", regex=True)
ah_mf['Category'] = ah_mf['Category'].astype(str).str.replace("']","", regex=True)

In [57]:
#Replacing "Aggressive Hybrid Fund', 'Aggressive Hybrid Fund" string with "Aggressive Hybrid Fund" in Category columns
ah_mf['Category'] = ah_mf['Category'].astype(str).str.replace("Aggressive Hybrid Fund', 'Aggressive Hybrid Fund",
                                                              "Small Cap Fund", regex=True)

#Replacing "%" string with "" in Crisil Rank, % Debt Holding, No of instruments in portfolio,
# % MF Holding, % Other Holding, Turnover ratio, MTD, 10Y_SIP_RTN(%) & 5Y_SIP_RTN(%) columns
ah_mf[['% Debt Holding', 'No of instruments in portfolio',
          '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
          'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'         
         ]] = ah_mf[['% Debt Holding', 'No of instruments in portfolio',
                        '% MF Holding', '% Other Holding', 'Turnover ratio(%)',
                        'MTD', '10Y_SIP_RTN(%)', '5Y_SIP_RTN(%)'
                        ]].replace("%", "", regex=True)

#Replacing "-" string with "0" in Crisil Rank columns
ah_mf['Crisil Rank'] = ah_mf['Crisil Rank'].replace("-", "", regex=True)

In [58]:
#Replacing "-" string with "0" in Crisil Rank columns
ah_mf['Crisil Rank'] = ah_mf['Crisil Rank'].replace("", "0", regex=True)

#Replacing "%" with '' in the column
ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"
                       ]].replace("%", "", regex=True)
print("Shape of the dataframe:", ah_mf.shape)
ah_mf.head()

Shape of the dataframe: (76, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
0,HDFC Hybrid Equity Fund - Direct Plan,3,17216.70,0.64,4.32,0.21,18.82,3.27,56.63,15.61,...,10-May-21,642.8400,22-May-20,43.93,61.84,69.81,84.18,-,Direct,Aggressive Hybrid Fund
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,0.63,4.26,0.06,18.46,3.19,55.65,14.90,...,10-May-21,597.6200,22-May-20,43.75,60.56,67.49,80.41,159.15,Regular,Aggressive Hybrid Fund
2,HSBC Equity Hybrid Fund - Direct,0,487.28,0.56,2.46,-1.27,12.59,1.86,45.03,16.72,...,03-Mar-21,187.2278,20-May-20,32.70,45.77,45.17,-,-,Direct,Aggressive Hybrid Fund
3,DSP Equity & Bond Fund - Direct Plan,4,6444.84,0.56,2.98,1.26,16.95,2.65,49.31,19.48,...,17-May-21,147.9800,26-May-20,32.03,44.39,43.18,-,-,Direct,Aggressive Hybrid Fund
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,0.54,2.89,1.01,16.36,2.51,47.82,18.30,...,03-Mar-21,175.2769,20-May-20,30.20,35.02,37.82,48.73,-,Regular,Aggressive Hybrid Fund

In [59]:
#Sorting a ah_mf dataframe by "Crisil Rank Column"
ah_mf.sort_values(by=['Crisil Rank', 'Scheme Name', 'AuM (Cr)'], inplace=True, ascending=False)
print("Shape of the dataframe:", ah_mf.shape)
ah_mf.head()

Shape of the dataframe: (76, 86)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
25,Kotak Equity Hybrid - Direct Plan,5,1529.90,0.08,1.72,2.06,20.38,1.78,63.52,20.77,...,03-Mar-21,80.3993,26-May-20,20.92,29.76,37.70,-,-,Direct,Aggressive Hybrid Fund
27,Kotak Equity Hybrid,5,1529.90,0.06,1.60,1.73,19.60,1.60,61.42,19.24,...,10-May-21,57.7500,20-May-20,20.45,26.25,28.93,36.20,-,Regular,Aggressive Hybrid Fund
22,BOI AXA Mid & Small Cap Equity & Debt Fund - D...,5,308.88,0.10,4.87,11.84,25.79,6.62,70.51,24.05,...,03-Mar-21,85.3885,26-May-20,21.80,27.01,27.78,-,-,Direct,Aggressive Hybrid Fund
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,0.11,4.79,11.53,25.29,6.49,69.07,22.96,...,10-May-21,63.4100,20-May-20,22.25,26.58,27.22,33.28,-,Regular,Aggressive Hybrid Fund
53,SBI Equity Hybrid Fund - Regular Plan,4,38141.28,-0.20,2.19,0.19,15.54,2.04,43.62,15.05,...,15-Feb-21,14.7464,22-May-20,15.54,19.55,-,-,-,Regular,Aggressive Hybrid Fund

In [60]:
#Replacing "-" with 'None' in the columns
ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding', '% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)',
         "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20",
         "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19",
         "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)"
         ]] = ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)"]].replace({'-' : None})

In [61]:
#Replacing "" with '0' in the columns

ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank'
         ]] = ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',\
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio", 'Crisil Rank']].fillna(value='0')

In [62]:
#Changing the datatype of the return & risk ratio columns

ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
         '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)', '2018_RTN(%)',
         '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)", "2012_RTN(%)", "2011_RTN(%)",
         "2010_RTN(%)", '% Equity Holding','% Debt Holding', '% MF Holding', '% Cash Holding', '% Other Holding',
         '1D Change(%)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)',
         '10Y_SIP_RTN(%)', "Apr'21", "Mar'21", "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20",
         "Sep'20", "Aug'20", "Jul'20", "Jun'20", "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20",
         "Q4'19", "Q3'19", "Q2'19", "Q1'19", "Q4'18", "Q3'18", "YTD", "MTD", "Turnover ratio(%)",
         "Standard Deviation", "Beta", "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"
         ]] = ah_mf[['1W_RTN(%)', '1M_RTN(%)', '3M_RTN(%)', '6M_RTN(%)', 'YTD_RTN(%)', '1Y_RTN(%)',
                       '2Y_RTN(%)', '3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', '2020_RTN(%)', '2019_RTN(%)',
                       '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)', '2015_RTN(%)', '2014_RTN(%)', "2013_RTN(%)",
                       "2012_RTN(%)", "2011_RTN(%)", "2010_RTN(%)", '% Equity Holding', '% Debt Holding',
                       '% MF Holding', '% Cash Holding', '% Other Holding', '1D Change(%)', '1Y_SIP_RTN(%)',
                       '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', "Apr'21", "Mar'21",
                       "Feb'21", "Jan'21", "Dec'20", "Nov'20", "Oct'20", "Sep'20", "Aug'20", "Jul'20", "Jun'20",
                       "QTD", "Q1'21", "Q4'20", "Q3'20", "Q2'20", "Q1'20", "Q4'19", "Q3'19", "Q2'19", "Q1'19",
                       "Q4'18", "Q3'18", "YTD",'MTD', "Turnover ratio(%)", "Standard Deviation", "Beta",
                       "Sharpe Ratio", "Jension's Alpha", "Treynor's Ratio"]].apply(pd.to_numeric, errors='coerce')

In [63]:
#Changing the datatype of the 'Crisil Rank' columns
ah_mf['Crisil Rank'] = ah_mf['Crisil Rank'].astype('int')

In [64]:
#Removing white spaces at both ends in all over the dataframe:

ah_mf.columns = ah_mf.columns.str.strip()

#Checking the data type of all columns in the DataFrame
ah_mf_dtype = ah_mf.dtypes

df_dtypes = pd.DataFrame(ah_mf_dtype)

In [65]:
#Using pandas dataframe.round()function to round off all the decimal values to 2 decimal places
ah_mf = ah_mf.round(2)

In [107]:
# #Exporting the consolidated elss mf data as a  csv file
# print("Shape of the dataframe:", ah_mf.shape)
ah_mf.to_csv('final_ah_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
                 index=False)

# #Exporting the elss mf data columns with its datatype as a  csv file
# df_dtypes.to_csv('ah_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv))'

In [67]:
#Exctracting regular mutual funds
regular_mf = ah_mf.loc[ah_mf['Plan'] == 'Regular']
regular_mf.head()

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),Plan,Category
27,Kotak Equity Hybrid,5,1529.90,0.06,1.60,1.73,19.60,1.60,61.42,19.24,...,10-May-21,57.75,20-May-20,20.45,26.25,28.93,36.20,0.0,Regular,Aggressive Hybrid Fund
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,0.11,4.79,11.53,25.29,6.49,69.07,22.96,...,10-May-21,63.41,20-May-20,22.25,26.58,27.22,33.28,0.0,Regular,Aggressive Hybrid Fund
53,SBI Equity Hybrid Fund - Regular Plan,4,38141.28,-0.20,2.19,0.19,15.54,2.04,43.62,15.05,...,15-Feb-21,14.75,22-May-20,15.54,19.55,0.00,0.00,0.0,Regular,Aggressive Hybrid Fund
38,Principal Hybrid Equity Fund,4,1052.17,-0.03,2.03,-0.62,14.58,2.09,47.43,12.78,...,17-May-21,21.10,20-May-20,18.65,24.34,29.76,43.08,0.0,Regular,Aggressive Hybrid Fund
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,0.54,2.89,1.01,16.36,2.51,47.82,18.30,...,03-Mar-21,175.28,20-May-20,30.20,35.02,37.82,48.73,0.0,Regular,Aggressive Hybrid Fund

In [68]:
# Basic statistics of regular mutual fund df
regular_mf.describe()

,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),...,% Other Holding,NAV,1D Change(%),52W High,52W Low,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
count,39.000000,37.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,...,39.000000,37.000000,39.000000,37.000000,37.000000,39.000000,39.000000,39.000000,39.000000,39.000000
mean,1.769231,3347.670270,-0.041795,2.420769,0.938205,13.778205,2.535641,42.025385,12.224615,6.871538,...,0.428974,96.217027,1.094872,96.902973,62.654324,16.566923,20.578718,18.914615,23.244359,24.878462
std,1.708516,7141.920929,0.344894,1.693622,3.848704,8.434111,2.444404,21.468115,7.141637,5.531613,...,0.778490,161.996058,0.377818,162.815201,103.837223,10.110542,13.430625,16.812082,21.452842,44.919464
min,0.000000,0.000000,-1.310000,-0.120000,-2.760000,0.000000,-0.510000,0.000000,0.000000,0.000000,...,0.000000,0.060000,0.000000,0.060000,0.060000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,114.600000,-0.205000,1.590000,-0.590000,9.555000,1.385000,37.500000,11.160000,0.000000,...,0.000000,13.780000,1.045000,14.090000,9.940000,14.195000,18.040000,0.000000,0.000000,0.000000
50%,2.000000,487.280000,-0.020000,2.230000,0.000000,14.580000,2.120000,45.750000,13.440000,8.150000,...,0.000000,33.030000,1.190000,33.160000,21.100000,18.480000,23.590000,25.700000,31.440000,0.000000
75%,3.000000,3823.570000,0.115000,2.815000,1.165000,17.590000,3.260000,52.755000,15.150000,10.590000,...,0.670000,104.590000,1.310000,105.250000,69.410000,22.350000,26.795000,29.975000,40.605000,32.570000
max,5.000000,38141.280000,0.630000,8.400000,19.430000,39.370000,13.630000,94.330000,33.580000,22.400000,...,3.330000,931.010000,1.560000,934.680000,597.620000,43.750000,60.560000,67.490000,80.410000,159.150000

In [69]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 9 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV
53,SBI Equity Hybrid Fund - Regular Plan,4,38141.28,43.62,11.78,12.82,13.50,20.55
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,42.10,12.95,13.97,13.48,76.29
45,JM Equity Hybrid Fund,3,7.47,78.58,10.60,10.55,10.75,19.23
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79
70,Quant Absolute Fund,0,24.02,94.33,22.40,17.56,14.55,10.28
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01
40,Edelweiss Aggressive Hybrid Fund,0,42.35,46.73,10.58,11.15,10.08,19.17

In [70]:
# Extracting  last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'
#greater than 10%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10) &
                            (regular_mf['10Y_RTN(%)'] > 10)]
print("Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have 3Y Return', '5Y Return' & '10Y Return'greater than 10% is: 9
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
53,SBI Equity Hybrid Fund - Regular Plan,4,38141.28,20.55,8.75,8.97,-1.64,24.78,13.26
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,261.61,15.03,6.12,-2.13,18.54,0.00
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,76.29,15.77,10.48,3.77,0.00,0.00
45,JM Equity Hybrid Fund,3,7.47,19.23,15.18,13.99,3.45,30.26,10.42
17,ICICI Prudential Equity & Debt Fund,3,16454.29,104.59,16.76,14.17,-4.62,27.61,7.55
9,Franklin India Equity Hybrid Fund,3,1349.74,214.79,12.18,5.49,-3.54,27.55,9.73
70,Quant Absolute Fund,0,24.02,10.28,0.40,0.00,0.00,0.00,0.00
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,931.01,16.32,18.19,2.31,12.50,0.00
40,Edelweiss Aggressive Hybrid Fund,0,42.35,19.17,9.57,9.98,1.01,0.00,0.00

In [71]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 12% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 12% is: 6 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
27,Kotak Equity Hybrid,5,1529.90,61.42,12.47,13.03,0.00,85.58,0.00,23.1,0.00,0.00
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,0.30,0.0,15.54,NaN
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,42.10,12.95,13.97,13.48,76.29,0.00,23.1,0.00,0.00
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,0.24,183.0,15.40,1.10
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,0.32,0.0,14.76,1.05
70,Quant Absolute Fund,0,24.02,94.33,22.40,17.56,14.55,10.28,0.00,0.0,0.00,0.00

In [72]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 12%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 12) & (regular_mf['5Y_RTN(%)'] > 12)]
print("Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is:",
      len(mf_rtn_com.index), '\nFunds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

Last five years annual return for funds which have '5Y Return' & '10Y Return'greater than 10% is: 6
Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
27,Kotak Equity Hybrid,5,1529.90,85.58,17.47,11.99,4.02,0.00,0.00
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,261.61,15.03,6.12,-2.13,18.54,0.00
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,76.29,15.77,10.48,3.77,0.00,0.00
23,Mirae Asset Hybrid - Equity,3,4802.88,95.87,19.47,11.77,1.68,25.19,2.98
17,ICICI Prudential Equity & Debt Fund,3,16454.29,104.59,16.76,14.17,-4.62,27.61,7.55
70,Quant Absolute Fund,0,24.02,10.28,0.40,0.00,0.00,0.00,0.00

In [73]:
# Extracting funds which have '3Y Return' & '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
70,Quant Absolute Fund,0,24.02,94.33,22.4,17.56,14.55,10.28,0.0,0.0,0.0,0.0

In [74]:
# Extracting last five years annual return for funds which have 3Y Return', '5Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_RTN(%)'] > 15) & (regular_mf['5Y_RTN(%)'] > 15)]
print("No. of funds having '3Y Return' & '5Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '3Y Return' & '5Y Return' greater than 15% is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),NAV,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%)
70,Quant Absolute Fund,0,24.02,10.28,0.4,0.0,0.0,0.0,0.0

In [75]:
# Extracting funds which have '5Y Return' & '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
            'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [76]:
# Extracting last five years annual return for funds which have 5Y Return', '10Y Return' greater than 15%
mf_rtn_com = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 15) & (regular_mf['10Y_RTN(%)'] > 15)]
print("No. of funds having '5Y Return' & '10Y Return' greater than 15% is:", len(mf_rtn_com.index), 'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', 'NAV', '2020_RTN(%)', '2019_RTN(%)',
            '2018_RTN(%)', '2017_RTN(%)', '2016_RTN(%)']]

No. of funds having '5Y Return' & '10Y Return' greater than 15% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), NAV, 2020_RTN(%), 2019_RTN(%), 2018_RTN(%), 2017_RTN(%), 2016_RTN(%)]
Index: []

## Portfolio Turnover Ratio(PTR)

Portfolio Turnover Ratio is the frequency in which the assets held under a fund has changed over the years. In simpler words, PTR provides a measurement on how many times the fund managers bought or sold the assets under a fund over a period of time. PTR is often determined by the market conditions and fund management style.

Suppose an equity fund purchased stocks worth Rs. 375 crore and sold stocks worth Rs. 450 crore. The average AUM of the fund is Rs.1500 crore. In this case, the Portfolio turnover ratio of the fund is 25%, which means one-fourth of the stocks were traded.

Funds that have higher turnover ratios, for example, can trigger higher costs for investors. First, a fund that’s actively managed may charge a higher expense ratio to cover the fund manager’s services. The expense ratio represents the percentage you pay to own the fund on an annualized basis. At the low end, you can find index funds with expense ratios around 0.50% to 0.10%. But the most expensive funds can easily have expense ratios over 1%.

Turnover ratio can also give you an idea of what the fund’s investment strategy is, which is important for choosing funds that align with your goals and objectives. A growth mutual fund, for instance, may have a higher turnover ratio if the fund manager is constantly looking for the best growth stocks to drive returns. But a fund that uses a value investing approach may have a lower turnover ratio if the fund manager is buying assets that have the potential to appreciate over time.

In [77]:
# Top 10 low turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 low turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nsmallest(10, 'Turnover ratio(%)')

Top 10 low turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
27,Kotak Equity Hybrid,5,1529.90,61.42,12.47,13.03,0.00,85.58,23.10
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,42.10,12.95,13.97,13.48,76.29,23.10
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,59.00
67,Baroda Hybrid Equity Fund - Plan A,2,395.61,49.39,7.34,10.36,9.45,10.79,60.00
66,Aditya Birla Sun Life Equity Hybrid 95 Fund - ...,2,7631.52,52.82,7.36,10.23,11.77,10.74,60.00
33,Union Hybrid Equity Fund - Regular Plan,0,436.02,0.00,0.00,0.00,0.00,58.14,61.99
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,91.00
40,Edelweiss Aggressive Hybrid Fund,0,42.35,46.73,10.58,11.15,10.08,19.17,162.00
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,183.00

In [78]:
# Top 10 high turnover ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Turnover ratio(%)'] > 0)]
print("Top 10 high turnover ratio regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Turnover ratio(%)']].nlargest(10, 'Turnover ratio(%)')

Top 10 high turnover ratio regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Turnover ratio(%)
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,183.00
40,Edelweiss Aggressive Hybrid Fund,0,42.35,46.73,10.58,11.15,10.08,19.17,162.00
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,91.00
33,Union Hybrid Equity Fund - Regular Plan,0,436.02,0.00,0.00,0.00,0.00,58.14,61.99
67,Baroda Hybrid Equity Fund - Plan A,2,395.61,49.39,7.34,10.36,9.45,10.79,60.00
66,Aditya Birla Sun Life Equity Hybrid 95 Fund - ...,2,7631.52,52.82,7.36,10.23,11.77,10.74,60.00
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,59.00
27,Kotak Equity Hybrid,5,1529.90,61.42,12.47,13.03,0.00,85.58,23.10
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,42.10,12.95,13.97,13.48,76.29,23.10

## Standard Deviation (SD)

The standard deviation of a stock or a mutual fund represents the riskiness of the stock or the mutual fund.

Standard Deviation is a percentage, expressed as an annualised figure.

Higher the standard Deviation, higher is the volatility of the asset. Higher the volatility, higher is the risk.

Do note, volatility or Standard Deviation should not worry you. Markets are volatile, and equities are volatile, mutual funds are volatile; this is the very nature of markets. So if you can’t fathom watching your investment see-saw between gains and loss, then perhaps you should reconsider your investment decision inequities.

In [79]:
# Top 10 low standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 low standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nsmallest(10, 'Standard Deviation')

Top 10 low standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
13,IDFC Hybrid Equity Fund - Regular Plan,3,508.18,52.69,8.16,0.00,0.00,180.58,13.81
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,14.15
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,14.26
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,14.76
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,15.33
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,15.40
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,15.48
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,15.49
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,15.53
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,15.54

In [80]:
# Top 10 high standard deviation regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Standard Deviation'] > 0)]
print("Top 10 high standard deviation regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Standard Deviation']].nlargest(10, 'Standard Deviation')

Top 10 high standard deviation regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Standard Deviation
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,207.58,18.11
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,16.27
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,15.54
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,15.53
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,15.49
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,15.48
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,15.40
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,15.33
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,14.76
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,14.26

## Beta Ratios

A Beta Ratio in Mutual Funds offers investors the data on the degree of the volatility a Mutual Fund displays in response to market fluctuations. An investor can determine which fund would be best suited to meet his/her financial objectives.

Suppose, the beta ratio of a specific Mutual Fund is 0.7 or 70%; it means the fund is 0.3 or 30% less volatile than the benchmark index. A Beta ratio value of 1 indicates a lower risk and lower growth potential compared to ratios at par or above 1.

Investors with a low-risk appetite would always prefer a lower beta ratio in Mutual Funds as it indicates a steadier response to a volatile market condition. Similarly, investors with the investment objective of higher returns would prefer beta ratios of 1 or more than 1.

In [81]:
# Top 10 low beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 low beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nsmallest(10, 'Beta')

Top 10 low beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,1.02
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,1.02
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,1.05
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,1.10
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,1.10
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,1.10
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,1.10
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,1.11
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,207.58,1.22
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,7.60

In [82]:
# Top 10 high beta regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 0)]
print("Top 10 high beta regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']].nlargest(10, 'Beta')

Top 10 high beta regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,7.60
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,207.58,1.22
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,1.11
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,1.10
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,1.10
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,1.10
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,1.10
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,1.05
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,1.02
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,1.02

In [83]:
# Funds with 'Beta' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] < 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Beta]
Index: []

In [84]:
# Funds with 'Beta' greater than 1.00
mf_tr = regular_mf.loc[(regular_mf['Beta'] > 1.00) & (regular_mf['Beta'] != 0.00)]
print("Funds with 'Beta' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Beta']]

Funds with 'Beta' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Beta
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,1.02
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,1.10
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,1.10
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,1.05
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,1.11
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,1.10
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,1.02
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,7.60
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,207.58,1.22
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,1.10

## What is Sharpe Ratio?

Sharpe Ratio of a mutual fund reveals its potential risk-adjusted returns. The risk-adjusted returns are the returns earned by an investment over the returns generated by any risk-free asset such as a fixed deposit. However, higher returns indicate extra risk. Higher Sharpe Ratio means greater returns from an investment but with a higher risk level. Therefore, it justifies the underlying volatility of the funds. The investors aiming for higher returns will have to invest in funds with higher risk factors.

Investments with less than 1.00 Sharpe Ratio do not generate high returns. Contrarily, investment with Sharpe Ratio of 1.00 to 3.00 or above have higher returns subsequently.

In [85]:
# Top 10 low sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 low 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nsmallest(10, 'Sharpe Ratio')

Top 10 low 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,0.24
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,0.26
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,0.28
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,0.29
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,0.30
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,0.32
13,IDFC Hybrid Equity Fund - Regular Plan,3,508.18,52.69,8.16,0.00,0.00,180.58,0.34
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,0.45
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,0.48
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,0.54

In [86]:
# Top 10 high sharpe ratio regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 0)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']].nlargest(10, 'Sharpe Ratio')

Top 10 high 'Sharpe Ratio' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,0.63
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,0.54
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,0.48
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,0.45
13,IDFC Hybrid Equity Fund - Regular Plan,3,508.18,52.69,8.16,0.00,0.00,180.58,0.34
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,0.32
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,0.30
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,0.29
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,0.28
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,0.26

In [87]:
# Funds with 'Sharpe Ratio' greater than or equal to 3.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] >= 3.00)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [88]:
# Funds with 'Sharpe Ratio' greater than to 2.00 & lesser than 2.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 2.00) & (regular_mf['Sharpe Ratio'] < 2.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [89]:
# Funds with 'Sharpe Ratio' greater than to 1.00 & lesser than 1.99
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] > 1.00) & (regular_mf['Sharpe Ratio'] < 1.99)]
print("Top 10 high 'Sharpe Ratio' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Top 10 high 'Sharpe Ratio' regular mutual funds are :

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio]
Index: []

In [90]:
# Funds with 'Sharpe Ratio' lesser than 1.00
mf_tr = regular_mf.loc[(regular_mf['Sharpe Ratio'] != 0.00) & (regular_mf['Sharpe Ratio'] < 1.00)]
print("Funds with 'Sharpe Ratio' lesser than 1.00 are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)',
            '5Y_RTN(%)', '10Y_RTN(%)', 'NAV', 'Sharpe Ratio']]

Funds with 'Sharpe Ratio' lesser than 1.00 are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,95.51,0.45
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,0.30
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,214.35,0.26
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,0.24
13,IDFC Hybrid Equity Fund - Regular Plan,3,508.18,52.69,8.16,0.00,0.00,180.58,0.34
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,0.32
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,0.29
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,244.32,0.28
15,Navi Equity Hybrid Fund,0,114.60,37.68,7.74,0.00,0.00,176.17,0.63
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,50.18,0.00,0.00,0.00,189.12,0.54
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,207.58,-0.04
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,0.48

In [91]:
# Extracting funds which have 3Y Return', '5Y Return' & '10Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['10Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return', '5Y SIP Return' & '10Y SIP Return' greater than 25% is: 9 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,37.32,41.09,81.90,214.35,0.26,59.00,15.33,1.10
42,UTI Hybrid Equity Fund,3,3823.57,28.36,40.12,111.08,21.19,0.00,0.00,0.00,0.00
23,Mirae Asset Hybrid - Equity,3,4802.88,25.70,30.21,86.55,95.87,0.24,183.00,15.40,1.10
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,30.19,37.41,96.80,244.32,0.28,0.00,15.48,1.10
33,Union Hybrid Equity Fund - Regular Plan,0,436.02,26.31,31.44,72.75,58.14,0.00,61.99,0.00,0.00
34,Nippon India Equity Hybrid Fund - Segregated P...,0,9.33,27.46,36.35,82.77,35.95,0.00,0.00,0.00,0.00
43,Invesco India Equity & Bond Fund,0,356.40,25.17,31.87,95.51,18.38,0.00,0.00,0.00,0.00
5,HSBC Equity Hybrid Fund,0,487.28,36.61,45.70,118.61,207.58,-0.04,0.00,18.11,1.22
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,67.49,80.41,159.15,931.01,0.48,0.00,16.27,1.10

In [92]:
# Extracting funds which have 3Y Return' & '5Y Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['3Y_SIP_RTN(%)'] > 25) & (regular_mf['5Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '3Y_SIP_RTN(%)', '5Y_SIP_RTN(%)', '10Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y SIP Return' & '5Y SIP Return' greater than 25% is: 21 Funds

,Scheme Name,Crisil Rank,AuM (Cr),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
27,Kotak Equity Hybrid,5,1529.90,28.93,36.20,0.00,85.58,0.00,23.10,0.00,0.00
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,27.22,33.28,0.00,95.51,0.45,91.00,14.26,1.02
38,Principal Hybrid Equity Fund,4,1052.17,29.76,43.08,0.00,34.47,0.00,0.00,0.00,0.00
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,37.82,48.73,0.00,261.61,0.30,0.00,15.54,NaN
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,30.81,41.48,0.00,76.29,0.00,23.10,0.00,0.00
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,37.32,41.09,81.90,214.35,0.26,59.00,15.33,1.10
42,UTI Hybrid Equity Fund,3,3823.57,28.36,40.12,111.08,21.19,0.00,0.00,0.00,0.00
23,Mirae Asset Hybrid - Equity,3,4802.88,25.70,30.21,86.55,95.87,0.24,183.00,15.40,1.10
45,JM Equity Hybrid Fund,3,7.47,33.64,48.59,0.00,19.23,0.00,0.00,0.00,0.00
17,ICICI Prudential Equity & Debt Fund,3,16454.29,32.33,41.57,0.00,104.59,0.32,0.00,14.76,1.05
9,Franklin India Equity Hybrid Fund,3,1349.74,36.61,44.24,0.00,214.79,0.29,0.00,15.49,1.11
36,Shriram Hybrid Equity Fund - Regular Plan – Gr...,2,57.94,26.32,33.16,0.00,33.03,0.00,0.00,0.00,0.00
29,L&T Hybrid Equity Fund,2,5335.03,27.75,34.72,0.00,65.67,0.00,0.00,0.00,0.00
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,30.19,37.41,96.80,244.32,0.28,0.00,15.48,1.10
33,Union Hybrid Equity Fund - Regular Plan,0,436.02,26.31,31.44,72.75,58.14,0.00,61.99,0.00,0.00
34,Nippon India Equity Hybrid Fund - Segregated P...,0,9.33,27.46,36.35,82.77,35.95,0.00,0.00,0.00,0.00
14,Mahindra Manulife Hybrid Equity Nivesh Yojana ...,0,194.53,31.97,37.89,0.00,189.12,0.54,0.00,15.53,7.60
43,Invesco India Equity & Bond Fund,0,356.40,25.17,31.87,95.51,18.38,0.00,0.00,0.00,0.00
5,HSBC Equity Hybrid Fund,0,487.28,36.61,45.70,118.61,207.58,-0.04,0.00,18.11,1.22
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,67.49,80.41,159.15,931.01,0.48,0.00,16.27,1.10
40,Edelweiss Aggressive Hybrid Fund,0,42.35,29.31,41.60,0.00,19.17,0.00,162.00,0.00,0.00

In [93]:
# Extracting funds which have '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25%
mf_rtn_com = regular_mf.loc[(regular_mf['1Y_SIP_RTN(%)'] > 25) & (regular_mf['2Y_SIP_RTN(%)'] > 25) &
                            (regular_mf['3Y_SIP_RTN(%)'] > 25)]
print("No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_SIP_RTN(%)', '2Y_SIP_RTN(%)', '3Y_SIP_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '1Y SIP Return', '2Y SIP Return' & '3Y SIP Return' greater than 25% is: 4 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,30.20,35.02,37.82,261.61,0.30,0.0,15.54,NaN
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,27.56,39.65,37.32,214.35,0.26,59.0,15.33,1.10
5,HSBC Equity Hybrid Fund,0,487.28,29.84,34.29,36.61,207.58,-0.04,0.0,18.11,1.22
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,43.75,60.56,67.49,931.01,0.48,0.0,16.27,1.10

In [94]:
# Top 10 high AuM (Cr) regular mutual funds are
#mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 high 'AuM (Cr)' regular mutual funds are :")
mf_tr =  mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nlargest(10, 'AuM (Cr)')
mf_tr

Top 10 high 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,0.48,0.0,16.27,1.10
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,0.32,0.0,14.76,1.05
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,0.30,0.0,15.54,NaN
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,0.24,183.0,15.40,1.10
19,Tata Hybrid Equity Fund - Regular Plan,1,3211.90,47.23,8.15,9.27,12.35,0.28,0.0,15.48,1.10
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,0.29,0.0,15.49,1.11
7,BNP Paribas Substantial Equity Hybrid Fund,4,559.34,45.07,14.39,0.00,0.00,0.26,59.0,15.33,1.10
13,IDFC Hybrid Equity Fund - Regular Plan,3,508.18,52.69,8.16,0.00,0.00,0.34,0.0,13.81,NaN
5,HSBC Equity Hybrid Fund,0,487.28,42.91,0.00,0.00,0.00,-0.04,0.0,18.11,1.22
21,BOI AXA Mid & Small Cap Equity & Debt Fund,5,308.88,69.07,8.09,0.00,0.00,0.45,91.0,14.26,1.02

In [95]:
# Top 10 low AuM (Cr) regular mutual funds are
mf_tr = regular_mf.loc[(regular_mf['5Y_RTN(%)'] > 0)]
print("Top 10 low 'AuM (Cr)' regular mutual funds are :")
mf_tr[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)',
       'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']].nsmallest(10, 'AuM (Cr)')

Top 10 low 'AuM (Cr)' regular mutual funds are :

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
45,JM Equity Hybrid Fund,3,7.47,78.58,10.60,10.55,10.75,0.00,0.0,0.00,0.00
70,Quant Absolute Fund,0,24.02,94.33,22.40,17.56,14.55,0.00,0.0,0.00,0.00
40,Edelweiss Aggressive Hybrid Fund,0,42.35,46.73,10.58,11.15,10.08,0.00,162.0,0.00,0.00
36,Shriram Hybrid Equity Fund - Regular Plan – Gr...,2,57.94,37.38,8.43,10.02,0.00,0.00,0.0,0.00,0.00
73,PGIM India Hybrid Equity Fund,3,101.05,47.21,8.78,9.29,9.28,0.00,0.0,0.00,0.00
67,Baroda Hybrid Equity Fund - Plan A,2,395.61,49.39,7.34,10.36,9.45,0.00,60.0,0.00,0.00
59,LIC MF Equity Hybrid Fund - Plan C,2,424.83,34.15,8.77,9.56,8.27,0.00,0.0,0.00,0.00
38,Principal Hybrid Equity Fund,4,1052.17,47.43,8.32,13.71,12.41,0.00,0.0,0.00,0.00
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,0.29,0.0,15.49,1.11
27,Kotak Equity Hybrid,5,1529.90,61.42,12.47,13.03,0.00,0.00,23.1,0.00,0.00

In [96]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 0) & (regular_mf['AuM (Cr)'] < 500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 0Crs to 500Crs is: 3 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
45,JM Equity Hybrid Fund,3,7.47,78.58,10.60,10.55,10.75,19.23,0.0,0.0,0.0,0.0
70,Quant Absolute Fund,0,24.02,94.33,22.40,17.56,14.55,10.28,0.0,0.0,0.0,0.0
40,Edelweiss Aggressive Hybrid Fund,0,42.35,46.73,10.58,11.15,10.08,19.17,0.0,162.0,0.0,0.0

In [97]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 500Crs to 1000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 500) & (regular_mf['AuM (Cr)'] < 1000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is:", len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds having '3Y Return', '5Y Return' & '10Y Return' greater than 10% is: 0 Funds

Empty DataFrame
Columns: [Scheme Name, Crisil Rank, AuM (Cr), 1Y_RTN(%), 3Y_RTN(%), 5Y_RTN(%), 10Y_RTN(%), NAV, Sharpe Ratio, Turnover ratio(%), Standard Deviation, Beta]
Index: []

In [98]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1000) & (regular_mf['AuM (Cr)'] < 1500) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1000Crs to 1500Crs is: 1 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
9,Franklin India Equity Hybrid Fund,3,1349.74,53.46,10.65,11.11,12.52,214.79,0.29,0.0,15.49,1.11

In [99]:
# Extracting funds returns 10% in 3year & 5year period which have AuM in between 1500 to 20000Crs
mf_rtn_com = regular_mf.loc[(regular_mf['AuM (Cr)'] > 1500) & (regular_mf['AuM (Cr)'] < 20000) &
                            (regular_mf['3Y_RTN(%)'] > 10) & (regular_mf['5Y_RTN(%)'] > 10)]
print("No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is:",
      len(mf_rtn_com.index),
      'Funds')
mf_rtn_com[['Scheme Name', 'Crisil Rank', 'AuM (Cr)', '1Y_RTN(%)','3Y_RTN(%)', '5Y_RTN(%)', '10Y_RTN(%)', 'NAV',
           'Sharpe Ratio', 'Turnover ratio(%)', 'Standard Deviation', 'Beta']]

No. of funds returns 10% in 3year & 5year period which have AuM in between 1500Crs to 20000Crs is: 7 Funds

,Scheme Name,Crisil Rank,AuM (Cr),1Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%),NAV,Sharpe Ratio,Turnover ratio(%),Standard Deviation,Beta
27,Kotak Equity Hybrid,5,1529.90,61.42,12.47,13.03,0.00,85.58,0.00,23.1,0.00,0.00
4,DSP Equity & Bond Fund - Regular Plan,4,6444.84,47.82,12.14,13.60,12.29,261.61,0.30,0.0,15.54,NaN
26,Canara Robeco Equity Hybrid Fund - Regular Plan,4,4981.68,42.10,12.95,13.97,13.48,76.29,0.00,23.1,0.00,0.00
52,Sundaram Equity Hybrid Fund,3,1662.55,41.36,10.21,12.30,9.36,22.01,0.00,0.0,0.00,0.00
23,Mirae Asset Hybrid - Equity,3,4802.88,47.07,12.49,13.89,0.00,95.87,0.24,183.0,15.40,1.10
17,ICICI Prudential Equity & Debt Fund,3,16454.29,58.85,12.66,14.43,14.71,104.59,0.32,0.0,14.76,1.05
1,HDFC Hybrid Equity Fund - Growth (Adjusted NAV...,0,17216.70,55.65,10.37,12.88,13.60,931.01,0.48,0.0,16.27,1.10