In [1]:
#Importing the required libraries
import pandas as pd

## Arbitrage Fund

These mutual funds invest in both Stocks and Bonds. The focus is to take arbritage position in stocks so that there is no impact of stock price change but fund can generate fixed returns over a period from arbritage availble in prices of stocks/futures

## Exctracting Arbitrage Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
arb_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/arbitrage-fund.html")
df1 = pd.DataFrame(arb_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (54, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Sundaram Arbitrage Fund - Direct Plan - Growth...,-,56.76,0.16%,0.25%,1.28%,2.14%,0.76%,3.89%,-,-,-,-
1,Sundaram Arbitrage Fund - GrowthArbitrage Fund,-,56.76,0.14%,0.18%,1.10%,1.77%,0.66%,3.16%,-,-,-,-
2,DSP Arbitrage fund - Direct Plan - GrowthArbit...,2,1378.51,0.12%,0.32%,1.06%,1.89%,0.60%,3.74%,5.09%,5.76%,-,-
3,DSP Arbitrage fund - GrowthArbitrage Fund,2,1378.51,0.11%,0.26%,0.92%,1.61%,0.53%,3.15%,4.48%,5.12%,-,-
4,UTI Arbitrage Fund - Direct Plan - GrowthArbit...,3,4103.39,0.11%,0.29%,1.18%,2.09%,0.64%,4.08%,5.24%,5.84%,6.13%,-

## Exctracting Arbitrage Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
arb_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/arbitrage-fund.html")
df2 = pd.DataFrame(arb_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (55, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,BNP Paribas Arbitrage Fund - GrowthArbitrage Fund,-,0.08%,0.45%,0.44%,0.41%,0.21%,0.35%,0.12%,0.45%,0.44%,0.27%,0.12%,0.23%
1,BNP Paribas Arbitrage Fund - Direct Plan - Gro...,-,0.11%,0.50%,0.49%,0.45%,0.26%,0.41%,0.17%,0.50%,0.50%,0.33%,0.16%,0.28%
2,IDFC Arbitrage Fund - Regular Plan - GrowthArb...,3,0.07%,0.42%,0.44%,0.34%,0.18%,0.31%,0.10%,0.45%,0.41%,0.27%,0.12%,0.28%
3,IDFC Arbitrage Fund - Direct Plan - GrowthArbi...,3,0.11%,0.47%,0.48%,0.38%,0.23%,0.38%,0.15%,0.51%,0.47%,0.33%,0.18%,0.34%
4,Axis Arbitrage Fund - GrowthArbitrage Fund,-,0.04%,0.42%,0.47%,0.32%,0.16%,0.32%,0.06%,0.40%,0.41%,0.23%,0.12%,0.34%

## Exctracting Arbitrage Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
arb_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/arbitrage-fund.html")
df3 = pd.DataFrame(arb_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (55, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,BNP Paribas Arbitrage Fund - GrowthArbitrage Fund,-,0.53%,0.92%,0.95%,0.76%,1.04%,1.91%,1.35%,1.45%,1.82%,1.42%,1.41%,1.77%
1,BNP Paribas Arbitrage Fund - Direct Plan - Gro...,-,0.61%,1.07%,1.12%,0.91%,1.18%,2.07%,1.49%,1.58%,1.95%,1.55%,1.55%,1.93%
2,IDFC Arbitrage Fund - Regular Plan - GrowthArb...,3,0.49%,0.85%,0.88%,0.70%,1.07%,1.28%,1.17%,1.51%,1.79%,1.54%,1.63%,1.54%
3,IDFC Arbitrage Fund - Direct Plan - GrowthArbi...,3,0.57%,1.00%,1.07%,0.89%,1.27%,1.47%,1.35%,1.68%,1.95%,1.69%,1.82%,1.73%
4,Axis Arbitrage Fund - GrowthArbitrage Fund,-,0.47%,0.86%,0.83%,0.66%,1.09%,1.66%,1.33%,1.44%,1.51%,1.47%,1.73%,1.35%

## Exctracting Arbitrage Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
arb_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/arbitrage-fund.html")
df4 = pd.DataFrame(arb_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (55, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,BNP Paribas Arbitrage Fund - Growth Arbitrage ...,-,1.39%,4.38%,6.24%,5.98%,6.43%,0.20%,-,-,-,-,-,-
1,BNP Paribas Arbitrage Fund - Direct Plan - Gro...,-,1.63%,5.02%,6.80%,6.65%,7.03%,0.21%,-,-,-,-,-,-
2,IDFC Arbitrage Fund - Regular Plan - Growth Ar...,3,1.30%,3.64%,6.19%,6.22%,5.54%,6.36%,7.33%,8.56%,9.26%,9.32%,7.87%,5.56%
3,IDFC Arbitrage Fund - Direct Plan - Growth Arb...,3,1.53%,4.44%,6.89%,7.01%,6.15%,6.99%,7.89%,9.14%,9.09%,-,-,-
4,Axis Arbitrage Fund - Growth Arbitrage Fund,-,1.30%,3.92%,5.88%,6.07%,5.23%,6.97%,7.20%,2.89%,-,-,-,-

## Exctracting Arbitrage Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
arb_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/arbitrage-fund.html")
df5 = pd.DataFrame(arb_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (51, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,Tata Arbitrage Fund - GrowthArbitrage Fund,5,14/27,2/27,5/27,3/27,7/27,1/25,1/23,0/0,0/0,0/0
1,Tata Arbitrage Fund - Direct Plan - GrowthArbi...,5,13/28,1/28,2/28,1/28,3/28,1/26,1/24,0/0,0/0,0/0
2,L&T Arbitrage Opportunities Fund - GrowthArbit...,5,9/27,14/27,7/27,6/27,14/27,2/25,2/23,2/18,4/16,0/0
3,L&T Arbitrage Opportunities Fund - Direct Plan...,5,12/28,15/28,5/28,6/28,15/28,2/26,3/24,4/19,4/17,0/0
4,UTI Arbitrage Fund - Direct Plan - GrowthArbit...,3,3/28,10/28,4/28,8/28,2/28,3/26,8/24,6/19,8/17,0/0

## Exctracting Arbitrage Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
arb_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/arbitrage-fund.html")
df6 = pd.DataFrame(arb_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (19, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,ICICI Prudential Equity - Arbitrage Fund - Growth,3,10787.78,1.14,-0.01,1.50,1.75,-1.41
1,Principal Arbitrage Fund - Regular Plan - Growth,-,9.06,2.46,0.64,-0.80,-2.67,-0.03
2,Kotak Equity Arbitrage Fund - Growth,4,18952.44,1.12,1.01,1.61,-0.56,0.02
3,JM Arbitrage Fund - Growth,1,53.82,1.17,0.72,0.50,-1.10,0.01
4,IDFC Arbitrage Fund - Regular Plan - Growth,3,6825.29,1.12,1.24,1.42,-1.32,0.01

## Exctracting Arbitrage Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
arb_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/arbitrage-fund.html")
df7 = pd.DataFrame(arb_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (55, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,PGIM India Arbitrage Fund - GrowthArbitrage Fund,3,-,136.92%,88,-,-,56.66%,143.92%,-
1,PGIM India Arbitrage Fund - Direct Plan - Grow...,3,-,136.92%,88,-,-,56.66%,143.92%,-
2,ICICI Prudential Equity - Arbitrage Fund - Gro...,3,-,73.85%,128,18.49%,8,-,7.65%,-
3,ICICI Prudential Equity - Arbitrage Fund - Dir...,3,-,73.85%,128,18.49%,8,-,7.65%,-
4,UTI Arbitrage Fund - Direct Plan - GrowthArbit...,3,-,70.04%,116,8.54%,8,-,21.42%,-

## Exctracting Arbitrage Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
arb_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/arbitrage-fund.html")
df8 = pd.DataFrame(arb_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (54, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,JM Arbitrage Fund - (Direct) - GrowthArbitrage...,1,53.82,27.1252,0.05%,17-May-21,27.1252,17-May-21,26.5217,09-Jul-20
1,JM Arbitrage Fund - GrowthArbitrage Fund,1,53.82,26.1094,0.05%,17-May-21,26.1094,17-May-21,25.6158,09-Jul-20
2,Invesco India Arbitrage Fund - Direct Plan - G...,3,686.04,26.1613,0.02%,17-May-21,26.1632,12-May-21,25.1886,20-May-20
3,Invesco India Arbitrage Fund - GrowthArbitrage...,3,686.04,24.8620,0.02%,17-May-21,24.8662,12-May-21,24.1057,20-May-20
4,DSP Arbitrage fund - GrowthArbitrage Fund,2,1378.51,11.8140,0.02%,17-May-21,11.8150,12-May-21,11.4630,20-May-20

## Exctracting Arbitrage Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
arb_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/arbitrage-fund.html")
df9 = pd.DataFrame(arb_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (51, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Tata Arbitrage Fund - Direct Plan - GrowthArbi...,5,5067.49,2.47%,5.50%,-,-,-
1,Sundaram Arbitrage Fund - Direct Plan - Growth...,-,56.76,2.43%,-,-,-,-
2,L&T Arbitrage Opportunities Fund - Direct Plan...,5,3923.66,2.34%,5.15%,8.54%,15.97%,-
3,Kotak Equity Arbitrage Fund - Direct Plan - Gr...,4,18952.44,2.32%,4.94%,8.28%,15.66%,-
4,Aditya Birla Sun Life Arbitrage Fund - Direct ...,3,6031.76,2.31%,4.89%,8.26%,15.59%,-

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (55, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (55, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Sundaram Arbitrage Fund - Direct Plan - Growth...,-,56.76,0.16%,0.25%,1.28%,2.14%,0.76%,3.89%,-,...,17-May-21,27.1252,17-May-21,26.5217,09-Jul-20,2.47%,5.50%,-,-,-
1,Sundaram Arbitrage Fund - GrowthArbitrage Fund,-,56.76,0.14%,0.18%,1.10%,1.77%,0.66%,3.16%,-,...,17-May-21,26.1094,17-May-21,25.6158,09-Jul-20,2.43%,-,-,-,-
2,DSP Arbitrage fund - Direct Plan - GrowthArbit...,2,1378.51,0.12%,0.32%,1.06%,1.89%,0.60%,3.74%,5.09%,...,17-May-21,26.1632,12-May-21,25.1886,20-May-20,2.34%,5.15%,8.54%,15.97%,-
3,DSP Arbitrage fund - GrowthArbitrage Fund,2,1378.51,0.11%,0.26%,0.92%,1.61%,0.53%,3.15%,4.48%,...,17-May-21,24.8662,12-May-21,24.1057,20-May-20,2.32%,4.94%,8.28%,15.66%,-
4,UTI Arbitrage Fund - Direct Plan - GrowthArbit...,3,4103.39,0.11%,0.29%,1.18%,2.09%,0.64%,4.08%,5.24%,...,17-May-21,11.8150,12-May-21,11.4630,20-May-20,2.31%,4.89%,8.26%,15.59%,-

In [23]:
#Exporting the consolidated Arbitrage mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('arb_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the Arbitrage mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('arb_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')