In [1]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Medium Duration Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
md_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/medium-duration-fund.html")
df1 = pd.DataFrame(md_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (38, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Tata Medium Term Fund - Direct Plan - GrowthMe...,2,70.36,0.26%,1.00%,2.32%,2.89%,1.53%,9.79%,1.71%,3.15%,4.97%,-
1,Franklin India Income Opportunities Fund - Dir...,2,1709.55,0.25%,1.06%,5.30%,10.58%,2.35%,11.66%,3.34%,4.98%,6.85%,-
2,Franklin India Income Opportunities Fund - Gro...,2,1709.55,0.25%,1.06%,5.23%,10.33%,2.35%,11.02%,2.63%,4.22%,6.09%,7.75%
3,UTI Medium Term Fund (Segregated - 17022020) -...,-,1.26,0.24%,0.97%,2.85%,-20.48%,1.34%,-16.98%,-,-,-,-
4,Tata Medium Term Fund - Regular Plan - GrowthM...,2,70.36,0.24%,0.92%,2.07%,2.35%,1.42%,8.68%,0.72%,2.20%,4.00%,6.27%

## Exctracting Medium Duration Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
md_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/medium-duration-fund.html")
df2 = pd.DataFrame(md_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (38, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,Franklin India Income Opportunities Fund - Gro...,2,0.28%,2.04%,2.11%,1.10%,1.17%,1.89%,3.49%,2.18%,2.02%,-4.96%,-4.16%,1.78%
1,Franklin India Income Opportunities Fund - Dir...,2,0.28%,2.04%,2.14%,1.15%,1.23%,1.95%,3.55%,2.23%,2.08%,-4.91%,-4.10%,1.84%
2,ICICI Prudential Medium Term Bond Fund - Direc...,3,0.40%,0.98%,1.03%,0.03%,0.22%,0.38%,1.09%,1.35%,0.74%,0.01%,1.70%,1.39%
3,ICICI Prudential Medium Term Bond Fund - Growt...,3,0.38%,0.93%,0.97%,-0.02%,0.16%,0.31%,1.03%,1.30%,0.69%,-0.04%,1.64%,1.34%
4,Kotak Medium Term Fund - Regular Plan - Growth...,3,0.34%,0.83%,0.76%,-0.65%,0.09%,0.43%,1.04%,1.91%,0.18%,0.07%,1.00%,1.86%

## Exctracting Medium Duration Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
md_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/medium-duration-fund.html")
df3 = pd.DataFrame(md_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (38, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,BNP Paribas Medium Term Fund - GrowthMedium Du...,2,1.19%,-0.68%,2.15%,0.13%,2.86%,1.81%,1.31%,1.94%,-7.78%,1.88%,3.00%,0.47%
1,BNP Paribas Medium Term Fund - Direct Plan - G...,2,1.25%,-0.54%,2.28%,0.25%,2.98%,1.95%,1.48%,2.10%,-7.64%,2.05%,3.19%,0.67%
2,IDFC Bond Fund - Medium Term Plan - Regular Pl...,5,1.16%,-0.98%,2.50%,0.43%,4.56%,2.46%,1.23%,2.61%,2.33%,2.57%,2.91%,1.41%
3,IDFC Bond Fund - Medium Term Plan - Direct Pla...,5,1.24%,-0.81%,2.67%,0.60%,4.74%,2.63%,1.40%,2.78%,2.49%,2.72%,3.09%,1.58%
4,Axis Strategic Bond Fund - GrowthMedium Durati...,4,1.11%,0.61%,2.86%,2.14%,1.97%,2.85%,2.35%,2.54%,-0.56%,2.49%,2.60%,1.46%

## Exctracting Medium Duration Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
md_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/medium-duration-fund.html")
df4 = pd.DataFrame(md_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (38, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,Franklin India Income Opportunities Fund - Gro...,2,6.69%,-4.72%,5.26%,7.90%,8.55%,8.38%,9.22%,11.60%,8.50%,10.17%,9.09%,7.02%
1,Franklin India Income Opportunities Fund - Dir...,2,6.84%,-4.04%,6.12%,8.71%,9.31%,9.16%,10.32%,12.61%,9.17%,-,-,-
2,ICICI Prudential Medium Term Bond Fund - Direc...,3,2.50%,11.01%,9.92%,5.84%,7.46%,11.25%,8.96%,13.31%,5.95%,-,-,-
3,ICICI Prudential Medium Term Bond Fund - Growt...,3,2.20%,10.32%,9.22%,5.01%,6.52%,10.11%,8.30%,12.39%,5.79%,9.66%,8.14%,4.92%
4,Kotak Medium Term Fund - Regular Plan - Growth...,3,1.01%,8.41%,6.95%,5.36%,6.55%,10.87%,9.19%,9.75%,-,-,-,-

## Exctracting Medium Duration Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
md_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/medium-duration-fund.html")
df5 = pd.DataFrame(md_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (36, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,L&T Resurgent India Bond Fund - GrowthMedium D...,3,14/18,14/18,9/18,2/18,13/18,1/17,5/14,6/14,6/14,0/0
1,L&T Resurgent India Bond Fund - Direct Plan - ...,3,15/18,13/18,8/18,2/18,13/18,1/17,4/14,6/14,6/14,0/0
2,Franklin India Income Opportunities Fund - Gro...,2,1/18,1/18,1/18,1/18,1/18,2/17,10/14,10/14,10/14,5/8
3,Franklin India Income Opportunities Fund - Dir...,2,2/18,1/18,1/18,1/18,1/18,2/17,10/14,10/14,9/14,0/0
4,ICICI Prudential Medium Term Bond Fund - Direc...,3,6/18,3/18,4/18,3/18,3/18,3/17,2/14,2/14,3/14,0/0

## Exctracting Medium Duration Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
md_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/medium-duration-fund.html")
df6 = pd.DataFrame(md_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (6, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,ICICI Prudential Medium Term Bond Fund - Growth,3,6542.22,2.39,1.19,1.95,-1.29,0.04
1,BNP Paribas Medium Term Fund - Growth,2,29.08,8.17,0.75,-0.03,-4.66,-0.00
2,Tata Medium Term Fund - Regular Plan - Growth,2,70.36,8.19,0.73,-0.13,-5.40,-0.01
3,DSP Bond Fund - Regular Plan - Growth,3,363.95,4.13,0.71,0.43,-2.47,0.02
4,UTI - Medium Term Fund - Growth,2,71.88,3.29,-0.00,-0.01,-0.04,54.77

## Exctracting Medium Duration Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
md_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/medium-duration-fund.html")
df7 = pd.DataFrame(md_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (38, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,IDFC Bond Fund - Medium Term Plan - Regular Pl...,5,-,-,-,87.53%,43,-,12.47%,-
1,L&T Resurgent India Bond Fund - GrowthMedium D...,3,-,-,-,97.85%,39,-,2.15%,-
2,Union Medium Duration Fund - Regular Plan - Gr...,-,-,-,-,95.35%,14,-,4.65%,-
3,ICICI Prudential Medium Term Bond Fund - Growt...,3,-,-,-,94.88%,105,-,5.12%,-
4,Tata Medium Term Fund - Regular Plan - GrowthM...,2,-,-,-,96.01%,19,-,3.98%,-

## Exctracting Medium Duration Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
md_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/medium-duration-fund.html")
df8 = pd.DataFrame(md_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (38, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,IDFC Bond Fund - Medium Term Plan - Direct Pla...,5,4660.76,39.1281,0.03%,12-May-21,39.1281,12-May-21,36.7335,18-May-20
1,IDFC Bond Fund - Medium Term Plan - Regular Pl...,5,4660.76,36.9732,0.03%,12-May-21,37.0077,05-Jan-21,34.9419,18-May-20
2,Sundaram Medium Term Bond Fund - Direct Plan -...,3,80.47,62.5923,0.02%,12-May-21,62.5923,12-May-21,59.0098,18-May-20
3,DSP Bond Fund - Direct Plan - GrowthMedium Dur...,3,363.95,67.1089,0.02%,12-May-21,67.1089,12-May-21,62.8054,18-May-20
4,BNP Paribas Medium Term Fund - Direct Plan - G...,2,29.08,15.8263,0.06%,12-May-21,15.8263,12-May-21,15.0263,18-May-20

## Exctracting Medium Duration Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
md_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/medium-duration-fund.html")
df9 = pd.DataFrame(md_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (36, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Franklin India Income Opportunities Fund - Dir...,2,1709.55,8.19%,6.49%,8.04%,15.12%,-
1,Franklin India Income Opportunities Fund - Gro...,2,1709.55,7.92%,5.84%,6.95%,13.03%,40.88%
2,L&T Resurgent India Bond Fund - Direct Plan - ...,3,755.70,4.78%,9.55%,14.26%,22.43%,-
3,ICICI Prudential Medium Term Bond Fund - Direc...,3,6542.22,5.10%,10.67%,16.02%,25.37%,-
4,HDFC Medium Term Debt Fund - Direct Plan - Gro...,4,3068.84,4.43%,9.44%,14.89%,24.25%,-

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (38, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (38, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Tata Medium Term Fund - Direct Plan - GrowthMe...,2,70.36,0.26%,1.00%,2.32%,2.89%,1.53%,9.79%,1.71%,...,12-May-21,39.1281,12-May-21,36.7335,18-May-20,8.19%,6.49%,8.04%,15.12%,-
1,Franklin India Income Opportunities Fund - Dir...,2,1709.55,0.25%,1.06%,5.30%,10.58%,2.35%,11.66%,3.34%,...,12-May-21,37.0077,05-Jan-21,34.9419,18-May-20,7.92%,5.84%,6.95%,13.03%,40.88%
2,Franklin India Income Opportunities Fund - Gro...,2,1709.55,0.25%,1.06%,5.23%,10.33%,2.35%,11.02%,2.63%,...,12-May-21,62.5923,12-May-21,59.0098,18-May-20,4.78%,9.55%,14.26%,22.43%,-
3,UTI Medium Term Fund (Segregated - 17022020) -...,-,1.26,0.24%,0.97%,2.85%,-20.48%,1.34%,-16.98%,-,...,12-May-21,67.1089,12-May-21,62.8054,18-May-20,5.10%,10.67%,16.02%,25.37%,-
4,Tata Medium Term Fund - Regular Plan - GrowthM...,2,70.36,0.24%,0.92%,2.07%,2.35%,1.42%,8.68%,0.72%,...,12-May-21,15.8263,12-May-21,15.0263,18-May-20,4.43%,9.44%,14.89%,24.25%,-

In [22]:
#Exporting the consolidated md mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('md_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the md mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('md_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')