In [1]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Corporate Bond Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
cb_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/corporate-bond-fund.html")
df1 = pd.DataFrame(cb_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (44, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,Nippon India Corporate Bond Fund - Direct Plan...,3,2531.52,0.15%,0.75%,1.95%,2.58%,1.03%,8.52%,8.29%,8.30%,8.10%,-
1,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,9310.41,0.14%,0.60%,1.72%,2.03%,0.91%,7.91%,8.73%,8.74%,8.43%,-
2,Nippon India Corporate Bond Fund - GrowthCorpo...,3,2531.52,0.14%,0.72%,1.84%,2.38%,0.98%,8.09%,7.86%,7.86%,7.63%,8.34%
3,Kotak Corporate Bond Fund - GrowthCorporate Bo...,3,9310.41,0.14%,0.57%,1.62%,1.85%,0.87%,7.56%,8.41%,8.42%,8.14%,8.53%
4,HDFC Corporate Bond Fund - Direct Plan - Growt...,3,26669.57,0.13%,0.68%,1.77%,2.22%,1.07%,8.58%,10.00%,9.55%,8.74%,-

## Exctracting Corporate Bond Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
cb_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/corporate-bond-fund.html")
df2 = pd.DataFrame(cb_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (45, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,Franklin India Corporate Debt Fund - Plan A - ...,3,0.19%,0.64%,0.88%,-0.10%,-0.11%,0.34%,1.03%,1.28%,0.38%,0.21%,0.85%,1.89%
1,Franklin India Corporate Debt Fund - Plan A - ...,3,0.21%,0.69%,0.93%,-0.06%,-0.07%,0.39%,1.08%,1.33%,0.42%,0.26%,0.90%,1.94%
2,ICICI Prudential Corporate Bond Fund - Direct ...,5,0.20%,0.56%,0.69%,-0.07%,0.06%,0.42%,0.68%,1.24%,0.07%,-0.25%,1.18%,1.65%
3,ICICI Prudential Corporate Bond Fund - GrowthC...,-,-,-,-,-,-,-,-,-,-,-,-,-
4,ICICI Prudential Corporate Bond Fund - GrowthC...,5,0.19%,0.54%,0.67%,-0.09%,0.03%,0.39%,0.66%,1.21%,0.04%,-0.28%,1.15%,1.62%

## Exctracting Corporate Bond Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
cb_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/corporate-bond-fund.html")
df3 = pd.DataFrame(cb_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (45, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,BNP Paribas Corporate Bond Fund - GrowthCorpor...,2,0.73%,-0.46%,2.34%,1.36%,3.69%,1.95%,2.69%,2.20%,-6.51%,2.81%,2.91%,0.87%
1,BNP Paribas Corporate Bond Fund - Direct Plan ...,2,0.82%,-0.30%,2.45%,1.51%,3.80%,2.02%,2.78%,2.31%,-6.38%,2.90%,2.99%,0.96%
2,Kotak Corporate Bond Fund - GrowthCorporate Bo...,3,0.84%,0.09%,2.24%,1.57%,3.39%,1.82%,1.96%,2.70%,1.95%,2.51%,2.40%,1.45%
3,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,0.89%,0.18%,2.31%,1.65%,3.47%,1.89%,2.04%,2.77%,2.02%,2.58%,2.47%,1.53%
4,Aditya Birla Sun Life Corporate Bond Fund - Re...,4,1.10%,0.24%,2.56%,1.49%,4.95%,2.11%,1.90%,2.44%,2.21%,2.61%,2.84%,1.59%

## Exctracting Corporate Bond Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
cb_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/corporate-bond-fund.html")
df4 = pd.DataFrame(cb_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (45, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,BNP Paribas Corporate Bond Fund - Growth Corpo...,2,0.27%,9.83%,0.86%,5.17%,6.67%,10.58%,7.22%,10.73%,6.97%,9.51%,9.12%,3.75%
1,BNP Paribas Corporate Bond Fund - Direct Plan ...,2,0.52%,10.31%,1.30%,5.59%,7.26%,11.49%,8.30%,11.06%,7.19%,-,-,-
2,Kotak Corporate Bond Fund - Growth Corporate B...,3,0.96%,9.59%,9.53%,7.36%,6.90%,9.32%,8.98%,11.34%,6.20%,9.36%,8.94%,5.40%
3,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,1.10%,9.91%,9.83%,7.67%,7.16%,9.54%,9.37%,11.97%,6.48%,-,-,-
4,Aditya Birla Sun Life Corporate Bond Fund - Re...,4,1.32%,11.77%,9.59%,6.91%,6.51%,10.16%,8.85%,10.85%,8.29%,10.55%,9.53%,3.83%

## Exctracting Corporate Bond Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
cb_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/corporate-bond-fund.html")
df5 = pd.DataFrame(cb_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (41, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,Axis Corporate Debt Fund - Direct Plan - Growt...,4,5/22,5/22,10/21,3/21,8/22,1/20,15/19,9/15,0/0,0/0
1,Axis Corporate Debt Fund - GrowthCorporate Bon...,3,6/22,6/22,14/21,4/21,9/22,1/20,16/19,10/15,0/0,0/0
2,Franklin India Corporate Debt Fund - Plan A - ...,3,19/22,14/22,9/21,3/21,17/22,2/20,12/19,9/15,3/14,1/11
3,Franklin India Corporate Debt Fund - Plan A - ...,3,19/22,14/22,7/21,2/21,17/22,2/20,12/19,7/15,1/14,0/0
4,Aditya Birla Sun Life Corporate Bond Fund - Re...,4,7/22,7/22,2/21,2/21,6/22,3/20,5/19,3/15,2/14,2/11

## Exctracting Corporate Bond Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
cb_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/corporate-bond-fund.html")
df6 = pd.DataFrame(cb_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (14, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,Franklin India Corporate Debt Fund - Plan A - ...,3,855.49,2.46,-,1.87,-,0.04
1,Kotak Corporate Bond Fund - Growth,3,9310.41,1.55,0.46,3.02,2.13,0.10
2,HDFC Corporate Bond Fund - Growth,3,26669.57,2.46,-,2.24,-,5.37
3,Invesco India Corporate Bond Fund - Growth,3,3173.86,2.19,0.52,2.26,1.85,0.09
4,Aditya Birla Sun Life Corporate Bond Fund - Re...,4,23971.33,1.90,-,2.89,-,5.30

## Exctracting Corporate Bond Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
cb_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/corporate-bond-fund.html")
df7 = pd.DataFrame(cb_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (44, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,Tata Corporate Bond Fund - Direct Plan - Growt...,-,-,-,-,-,-,-,100.00%,-
1,L&T Triple Ace Bond Fund - Direct Plan - Growt...,1,-,-,-,93.56%,63,-,6.44%,-
2,HDFC Corporate Bond Fund - GrowthCorporate Bon...,3,-,-,-,97.39%,170,-,2.61%,-
3,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,-,-,-,93.70%,95,-,6.30%,-
4,Axis Corporate Debt Fund - Direct Plan - Growt...,4,-,-,-,97.18%,83,-,2.82%,-

## Exctracting Corporate Bond Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
cb_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/corporate-bond-fund.html")
df8 = pd.DataFrame(cb_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (44, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,Invesco India Corporate Bond Fund - Direct Pla...,3,3173.86,2640.1053,0.01%,12-May-21,2640.1053,12-May-21,2446.7330,18-May-20
1,Invesco India Corporate Bond Fund - GrowthCorp...,3,3173.86,2502.9798,0%,12-May-21,2502.9798,12-May-21,2328.7935,18-May-20
2,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,9310.41,3011.0849,0%,12-May-21,3011.0849,12-May-21,2795.7284,18-May-20
3,Kotak Corporate Bond Fund - GrowthCorporate Bo...,3,9310.41,2925.0469,0%,12-May-21,2925.0469,12-May-21,2724.4801,18-May-20
4,Aditya Birla Sun Life Corporate Bond Fund - Di...,4,23971.33,87.6988,0.02%,12-May-21,87.6988,12-May-21,80.6874,18-May-20

## Exctracting Corporate Bond Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
cb_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/corporate-bond-fund.html")
df9 = pd.DataFrame(cb_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (40, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Franklin India Corporate Debt Fund - Plan A - ...,3,855.49,3.66%,8.18%,13.60%,23.91%,-
1,Axis Corporate Debt Fund - Direct Plan - Growt...,4,4089.12,3.91%,9.82%,14.58%,-,-
2,Nippon India Corporate Bond Fund - Direct Plan...,3,2531.52,3.84%,8.55%,13.28%,22.44%,-
3,Aditya Birla Sun Life Corporate Bond Fund - Di...,4,23971.33,3.66%,9.49%,15.27%,25.09%,-
4,PGIM India Premier Bond Fund - Direct Plan - G...,3,69.23,3.41%,8.57%,13.87%,22.45%,-

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (45, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (45, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,Nippon India Corporate Bond Fund - Direct Plan...,3,2531.52,0.15%,0.75%,1.95%,2.58%,1.03%,8.52%,8.29%,...,12-May-21,2640.1053,12-May-21,2446.7330,18-May-20,3.66%,8.18%,13.60%,23.91%,-
1,Kotak Corporate Bond Fund - Direct Plan - Grow...,3,9310.41,0.14%,0.60%,1.72%,2.03%,0.91%,7.91%,8.73%,...,12-May-21,2502.9798,12-May-21,2328.7935,18-May-20,3.91%,9.82%,14.58%,-,-
2,Nippon India Corporate Bond Fund - GrowthCorpo...,3,2531.52,0.14%,0.72%,1.84%,2.38%,0.98%,8.09%,7.86%,...,12-May-21,3011.0849,12-May-21,2795.7284,18-May-20,3.84%,8.55%,13.28%,22.44%,-
3,Kotak Corporate Bond Fund - GrowthCorporate Bo...,3,9310.41,0.14%,0.57%,1.62%,1.85%,0.87%,7.56%,8.41%,...,12-May-21,2925.0469,12-May-21,2724.4801,18-May-20,3.66%,9.49%,15.27%,25.09%,-
4,HDFC Corporate Bond Fund - Direct Plan - Growt...,3,26669.57,0.13%,0.68%,1.77%,2.22%,1.07%,8.58%,10.00%,...,12-May-21,87.6988,12-May-21,80.6874,18-May-20,3.41%,8.57%,13.87%,22.45%,-

In [22]:
#Exporting the consolidated cb mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('cb_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the cb mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('cb_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')