In [1]:
import re
import pandas as pd
import numpy as np
%matplotlib inline

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Historical Investment Returns Data

Data in this table: Get Absolute historical returns for ₹1000 investment. If 1Y column value is 1234.5 that means, your ₹1000 investment 1 year back would have grown to ₹1234.5.

In [2]:
fmpd_lump_sum_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/returns/fixed-maturity-plans---debt.html")
df1 = pd.DataFrame(fmpd_lump_sum_rtn[0])

In [3]:
#Renaming historical returns column names
df1.rename({'1W': '1W_RTN(%)', '1M': '1M_RTN(%)', '3M': '3M_RTN(%)', '6M': '6M_RTN(%)',
                 'YTD': 'YTD_RTN(%)', '1Y': '1Y_RTN(%)', '2Y': '2Y_RTN(%)', '3Y': '3Y_RTN(%)',
                 '5Y': '5Y_RTN(%)', '10Y': '10Y_RTN(%)'
          }, axis=1, inplace=True)
print("Shape of the dataframe:", df1.shape)
df1.head()

Shape of the dataframe: (500, 13)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),3Y_RTN(%),5Y_RTN(%),10Y_RTN(%)
0,SBI Fixed Maturity Plan (FMP) - Series 34 - Di...,-,21.40,0.24%,0.54%,2.61%,1.59%,1.43%,5.54%,-,-,-,-
1,SBI Fixed Maturity Plan (FMP) - Series 34 - Re...,-,21.40,0.24%,0.52%,2.55%,1.46%,1.40%,5.28%,-,-,-,-
2,SBI Fixed Maturity Plan (FMP) - Series 41 - Di...,-,730.94,0.17%,0.99%,-,-,1.24%,-,-,-,-,-
3,SBI Fixed Maturity Plan (FMP) - Series 41 - Di...,-,0.00,0.17%,0.99%,-,-,1.24%,-,-,-,-,-
4,SBI Fixed Maturity Plan (FMP) - Series 41 - Re...,-,730.94,0.17%,0.97%,-,-,1.22%,-,-,-,-,-

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Monthly Returns Data

Data in this table: Get monthly returns. If Jan month column value is 5.4% that means, fund has given 5.4% returns in Jan month.

In [4]:
fmpd_monthly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/monthly-returns/fixed-maturity-plans---debt.html")
df2 = pd.DataFrame(fmpd_monthly_rtn[0])

In [5]:
#Renaming df1 column names
df1.rename({"Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            'MTD': 'MTD_RTN(%)', "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)",
            "Apr'21": "Apr'21(%)", "Apr'21": "Apr'21(%)"
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df2.shape)
df2.head()

Shape of the dataframe: (509, 14)

,Scheme Name,Crisil Rank,MTD,Apr'21,Mar'21,Feb'21,Jan'21,Dec'20,Nov'20,Oct'20,Sep'20,Aug'20,Jul'20,Jun'20
0,IDFC Fixed Term Plan - Series 160 - Direct Pla...,-,0.11%,0.35%,0.38%,0.32%,0.11%,0.34%,0.37%,0.61%,0.34%,0.43%,0.73%,1.23%
1,IDFC Fixed Term Plan - Series 161 - Direct Pla...,-,0.11%,0.37%,0.41%,0.35%,0.11%,0.33%,0.45%,0.71%,0.41%,0.42%,0.74%,1.09%
2,IDFC Fixed Term Plan - Series 176 - Direct Pla...,-,0.11%,0.53%,0.65%,0.26%,-0.01%,0.18%,0.76%,0.81%,0.31%,0.48%,1.04%,1.74%
3,IDFC Fixed Term Plan - Series 179 - GrowthFixe...,-,0.31%,1.05%,2.06%,-2.18%,-0.24%,0.81%,0.28%,2.59%,-1.77%,-1.02%,1.43%,0.59%
4,IDFC Fixed Term Plan - Series 179 - Direct Pla...,-,0.32%,1.07%,2.08%,-2.17%,-0.22%,0.83%,0.30%,2.61%,-1.75%,-1.00%,1.45%,0.60%

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Quarterly Returns Data

Data in this table: Get quarterly returns. If Q1 column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Mar.

In [6]:
fmpd_quarterly_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/quarterly-returns/fixed-maturity-plans---debt.html")
df3 = pd.DataFrame(fmpd_quarterly_rtn[0])

In [7]:
print("Shape of the dataframe:", df3.shape)
df3.head()

Shape of the dataframe: (514, 14)

,Scheme Name,Crisil Rank,QTD,Q1'21,Q4'20,Q3'20,Q2'20,Q1'20,Q4'19,Q3'19,Q2'19,Q1'19,Q4'18,Q3'18
0,Franklin India Fixed Maturity Plan - Series 4 ...,-,0.60%,0.97%,1.78%,2.06%,4.01%,2.16%,2.00%,2.79%,1.60%,-,-,-
1,Franklin India Fixed Maturity Plan - Series 4 ...,-,0.60%,0.97%,1.78%,2.06%,4.01%,2.16%,2.10%,3.02%,1.83%,-,-,-
2,Franklin India Fixed Maturity Plan - Series 5 ...,-,0.59%,0.99%,1.81%,1.64%,3.88%,2.34%,2.26%,2.71%,1.80%,-,-,-
3,Franklin India Fixed Maturity Plan - Series 5 ...,-,0.63%,1.06%,1.89%,1.72%,3.96%,2.42%,2.33%,2.79%,1.87%,-,-,-
4,Franklin India Fixed Maturity Plan - Series 5 ...,-,0.62%,0.99%,1.77%,1.91%,4.18%,2.24%,2.22%,2.80%,1.96%,3.31%,-,-

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Annual Investment Returns Data

Data in this table: Get annual returns. If 2018 year column value is 5.4% that means, fund has given 5.4% returns from 1st Jan to 31st Dec/Last date.

In [8]:
fmpd_annual_rtn = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/annual-returns/fixed-maturity-plans---debt.html")
df4 = pd.DataFrame(fmpd_annual_rtn[0])

In [9]:
#Renaming yearly returns column names
df4.rename({'2020': '2020_RTN(%)', '2019': '2019_RTN(%)', '2018': '2018_RTN(%)', '2017': '2017_RTN(%)',
                 '2016': '2016_RTN(%)', '2015': '2015_RTN(%)', '2014': '2014_RTN(%)', '2013': '2013_RTN(%)',
                 '2012': '2012_RTN(%)', '2011': '2011_RTN(%)', '2010': '2010_RTN(%)'
               }, axis=1, inplace=True)

print("Shape of the dataframe:", df4.shape)
df4.head()

Shape of the dataframe: (507, 14)

,Scheme Name,Crisil Rank,YTD,2020_RTN(%),2019_RTN(%),2018_RTN(%),2017_RTN(%),2016_RTN(%),2015_RTN(%),2014_RTN(%),2013_RTN(%),2012_RTN(%),2011_RTN(%),2010_RTN(%)
0,Franklin India Fixed Maturity Plan - Series 4 ...,-,1.47%,8.92%,9.92%,2.70%,-,-,-,-,-,-,-,-
1,Franklin India Fixed Maturity Plan - Series 4 ...,-,1.47%,8.92%,10.54%,3.15%,-,-,-,-,-,-,-,-
2,Franklin India Fixed Maturity Plan - Series 4 ...,-,1.48%,8.83%,4.83%,-,-,-,-,-,-,-,-,-
3,Franklin India Fixed Maturity Plan - Series 4 ...,-,1.48%,8.83%,5.55%,-,-,-,-,-,-,-,-,-
4,Franklin India Fixed Maturity Plan - Series 4 ...,-,1.61%,10.47%,9.85%,-,-,-,-,-,-,-,-,-

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Rank Within Category Data

Data in this table: Get performance rank within category. If 1Y column value is 3/45 that means, Fund ranked 3rd in terms of performance out of 45 funds in that category.

In [10]:
fmpd_rank_in_category = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/ranks/fixed-maturity-plans---debt.html")
df5 = pd.DataFrame(fmpd_rank_in_category[0])

In [11]:
#Renaming df5 column names
df5.rename({'1W': '1W_Rank', '1M': '1M_Rank', '3M': '3M_Rank', '6M': '6M_Rank', 'YTD': 'YTD_Rank',
            '1Y': '1Y_Rank', '2Y': '2Y_Rank', '3Y': '3Y_Rank', '5Y': '5Y_Rank', '10Y': '10Y_Rank'
          }, axis=1, inplace=True)

print("Shape of the dataframe:", df5.shape)
df5.head()

Shape of the dataframe: (500, 12)

,Scheme Name,Crisil Rank,1W_Rank,1M_Rank,3M_Rank,6M_Rank,YTD_Rank,1Y_Rank,2Y_Rank,3Y_Rank,5Y_Rank,10Y_Rank
0,Nippon India Fixed Horizon Fund 40 - Series 3 ...,-,17/488,36/487,1/485,1/485,35/487,1/485,437/445,0/0,0/0,0/0
1,Nippon India Fixed Horizon Fund 40 - Series 3 ...,-,12/488,31/487,1/485,1/485,27/487,1/485,436/445,0/0,0/0,0/0
2,Nippon India Fixed Horizon Fund 39 - Series 5 ...,-,35/488,37/487,2/485,2/485,47/487,2/485,434/445,0/0,0/0,0/0
3,Nippon India Fixed Horizon Fund 39 - Series 5 ...,-,34/488,39/487,2/485,2/485,47/487,2/485,434/445,0/0,0/0,0/0
4,Nippon India Fixed Horizon Fund 39 - Series 11...,-,19/488,26/487,4/485,5/485,32/487,3/485,424/445,0/0,0/0,0/0

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Risk Ratios Data

Data in this table: Get values of risk ratios calculated on daily returns for last 3 years.

In [12]:
fmpd_risk_ratio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/risk-ratios/fixed-maturity-plans---debt.html")
df6 = pd.DataFrame(fmpd_risk_ratio[0])

In [13]:
#Droping the 'Category' column
df6.drop('Category', inplace=True, axis=1)
print("Shape of the dataframe:", df6.shape)
df6.head()

Shape of the dataframe: (339, 8)

,Scheme Name,Crisil Rank,AuM (Cr),Standard Deviation,Beta,Sharpe Ratio,Jension's Alpha,Treynor's Ratio
0,Franklin India Fixed Maturity Plan - Series 3 ...,-,190.71,1.32,0.28,3.31,2.73,0.16
1,Franklin India Fixed Maturity Plan - Series 3 ...,-,107.50,1.32,0.28,3.40,2.83,0.16
2,Franklin India Fixed Maturity Plan - Series 4 ...,-,125.83,1.37,0.29,3.19,2.66,0.15
3,Franklin India Fixed Maturity Plan - Series 4 ...,-,118.20,1.48,0.32,3.08,2.66,0.14
4,Franklin India Fixed Maturity Plan - Series 4 ...,-,96.82,1.55,0.34,3.07,2.72,0.14

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Portfolio Data

Data in this table: Compare how schemes have invested money across various asset class and number of instruments.

In [14]:
fmpd_portfolio = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/portfolioassets/fixed-maturity-plans---debt.html")
df7 = pd.DataFrame(fmpd_portfolio[0])

In [15]:
#Renaming SIP returns column names
df7.rename({'Turnover ratio': 'Turnover ratio(%)'}, axis=1, inplace=True)

print("Shape of the dataframe:", df7.shape)
df7.head()

Shape of the dataframe: (477, 10)

,Scheme Name,Crisil Rank,Turnover ratio(%),% Equity Holding,No of stocks in portfolio,% Debt Holding,No of instruments in portfolio,% MF Holding,% Cash Holding,% Other Holding
0,Nippon India Fixed Horizon Fund 37 - Series 1 ...,-,-,-,-,16.96%,3,-,83.04%,-
1,UTI Fixed Term Income Fund- Series XXX - Plan ...,-,-,-,-,92.37%,23,-,7.63%,-
2,PGIM India Fixed Duration Fund - Series BA - G...,-,-,-,-,84.61%,9,5.12%,10.27%,-
3,Tata Fixed Maturity Plan Series 56 - Scheme A ...,-,-,-,-,90.22%,12,-,9.75%,-
4,PGIM India Fixed Duration Fund - Series AY - G...,-,-,-,-,94.16%,21,0.09%,5.75%,-

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's Latest NAV Data

Data in this table: Get the latest values of NAV for the mutual funds.

In [16]:
fmpd_nav = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/navs/fixed-maturity-plans---debt.html")
df8 = pd.DataFrame(fmpd_nav[0])

In [17]:
df8.rename({'1D Change' : '1D Change(%)'}, axis=1, inplace=True)
print("Shape of the dataframe:", df8.shape)
df8.head()

Shape of the dataframe: (500, 10)

,Scheme Name,Crisil Rank,AuM (Cr),NAV,1D Change(%),NAV Date,52W High,52WH as on,52W Low,52WL as on
0,IL&FS Infrastructure Debt Fund - Series 3 - B ...,-,-,1.253930e+06,1.51%,31-Mar-21,1.253930e+06,31-Mar-21,1.234949e+06,31-Dec-20
1,IL&FS Infrastructure Debt Fund - Series 2 - B ...,-,-,1.063098e+06,1.24%,31-Mar-21,1.063098e+06,31-Mar-21,1.049898e+06,31-Dec-20
2,IL&FS Infrastructure Debt Fund - Series 2 - C ...,-,-,1.115671e+06,1.15%,31-Mar-21,1.115671e+06,31-Mar-21,1.091931e+06,30-Jun-20
3,IIFCL Infrastructure Debt Fund - Series IIFixe...,-,176.19,8.739680e+05,0.93%,31-Mar-21,9.229831e+05,30-Sep-20,8.658077e+05,31-Dec-20
4,IIFCL Infrastructure Debt Fund - Series IIFixe...,-,173.93,8.739680e+05,0.93%,31-Mar-21,9.229831e+05,30-Sep-20,8.658077e+05,31-Dec-20

## Exctracting Fixed Maturity Plans - Debt Mutual Fund's SIP Returns Data

Data in this table: Get absolute SIP returns. If 1Y column value is 10%, that means fund has given 10% returns on your SIP investments started 1 year back from latest NAV date.

In [18]:
fmpd_sip_rtns = pd.read_html(
    "https://www.moneycontrol.com/mutual-funds/performance-tracker/sip-returns/fixed-maturity-plans---debt.html")
df9 = pd.DataFrame(fmpd_sip_rtns[0])

In [19]:
#Renaming SIP returns column names
df9.rename({'1Y': '1Y_SIP_RTN(%)', '2Y': '2Y_SIP_RTN(%)', '3Y': '3Y_SIP_RTN(%)',
                  '5Y': '5Y_SIP_RTN(%)', '10Y': '10Y_SIP_RTN(%)', 'YTD' : 'YTD_SIP_RTN(%)'
           }, axis=1, inplace=True)

print("Shape of the dataframe:", df9.shape)
df9.head()

Shape of the dataframe: (500, 8)

,Scheme Name,Crisil Rank,AuM (Cr),1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,IL&FS Infrastructure Debt Fund - Series 3 - A ...,-,0.00,5.21%,5.21%,-,-,-
1,IL&FS Infrastructure Debt Fund - Series 3 - A ...,-,0.00,5.09%,5.09%,-,-,-
2,Nippon India Fixed Horizon Fund 40 - Series 3 ...,-,122.73,9.84%,11.71%,-,-,-
3,Nippon India Fixed Horizon Fund 40 - Series 3 ...,-,122.73,9.50%,11.04%,-,-,-
4,Nippon India Fixed Horizon Fund 39 - Series 5 ...,-,108.18,9.34%,11.45%,-,-,-

In [20]:
df_final = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9],axis=1,sort=False)
print("Shape of the dataframe:", df_final.shape)

Shape of the dataframe: (514, 103)

In [21]:
# Remove duplicate columns by name in Pandas
df_final = df_final.loc[:,~df_final.columns.duplicated()]

# Removing spaces in the column names
#df_final.columns = df_final.columns.str.replace(' ','_')

print("Shape of the dataframe:", df_final.shape)
df_final.head()

Shape of the dataframe: (514, 84)

,Scheme Name,Crisil Rank,AuM (Cr),1W_RTN(%),1M_RTN(%),3M_RTN(%),6M_RTN(%),YTD_RTN(%),1Y_RTN(%),2Y_RTN(%),...,NAV Date,52W High,52WH as on,52W Low,52WL as on,1Y_SIP_RTN(%),2Y_SIP_RTN(%),3Y_SIP_RTN(%),5Y_SIP_RTN(%),10Y_SIP_RTN(%)
0,SBI Fixed Maturity Plan (FMP) - Series 34 - Di...,-,21.40,0.24%,0.54%,2.61%,1.59%,1.43%,5.54%,-,...,31-Mar-21,1.253930e+06,31-Mar-21,1.234949e+06,31-Dec-20,5.21%,5.21%,-,-,-
1,SBI Fixed Maturity Plan (FMP) - Series 34 - Re...,-,21.40,0.24%,0.52%,2.55%,1.46%,1.40%,5.28%,-,...,31-Mar-21,1.063098e+06,31-Mar-21,1.049898e+06,31-Dec-20,5.09%,5.09%,-,-,-
2,SBI Fixed Maturity Plan (FMP) - Series 41 - Di...,-,730.94,0.17%,0.99%,-,-,1.24%,-,-,...,31-Mar-21,1.115671e+06,31-Mar-21,1.091931e+06,30-Jun-20,9.84%,11.71%,-,-,-
3,SBI Fixed Maturity Plan (FMP) - Series 41 - Di...,-,0.00,0.17%,0.99%,-,-,1.24%,-,-,...,31-Mar-21,9.229831e+05,30-Sep-20,8.658077e+05,31-Dec-20,9.50%,11.04%,-,-,-
4,SBI Fixed Maturity Plan (FMP) - Series 41 - Re...,-,730.94,0.17%,0.97%,-,-,1.22%,-,-,...,31-Mar-21,9.229831e+05,30-Sep-20,8.658077e+05,31-Dec-20,9.34%,11.45%,-,-,-

In [23]:
#Exporting the consolidated fmpd mf data as a  csv file
#print("Shape of the dataframe:", df_final.shape)
#df_final.to_csv('fmpd_mf_data('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + ').csv',
#               index=False)

#Exporting the fmpd mf data columns with its datatype as a  csv file
#df_dtypes.to_csv('fmpd_mf_col_data_types('+ str(pd.to_datetime('today').strftime('%d-%b-%Y %H:%M:%S')) + '.csv)')

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Mum Indians,RCB,RCB,2 wickets,Chennai,"Apr 9, 2021",T20
1,Super Kings,Capitals,Capitals,7 wickets,Mumbai,"Apr 10, 2021",T20
2,Sunrisers,KKR,KKR,10 runs,Chennai,"Apr 11, 2021",T20
3,Royals,Punjab Kings,Punjab Kings,4 runs,Mumbai,"Apr 12, 2021",T20
4,KKR,Mum Indians,Mum Indians,10 runs,Chennai,"Apr 13, 2021",T20
5,Sunrisers,RCB,RCB,6 runs,Chennai,"Apr 14, 2021",T20
6,Royals,Capitals,Royals,3 wickets,Mumbai,"Apr 15, 2021",T20
7,Punjab Kings,Super Kings,Super Kings,6 wickets,Mumbai,"Apr 16, 2021",T20
8,Mum Indians,Sunrisers,Mum Indians,13 runs,Chennai,"Apr 17, 2021",T20
9,RCB,KKR,RCB,38 runs,Chennai,"Apr 18, 2021",T20
10,Capitals,Punjab Kings,Capitals,6 wickets,Mumbai,"Apr 18, 2021",T20
11,Super Kings,Royals,Super Kings,45 runs,Mumbai,"Apr 19, 2021",T20
12,Capitals,Mum Indians,Capitals,6 wickets,Chennai,"Apr 20, 2021",T20
13,Punjab Kings,Sunrisers,Sunrisers,9 wickets,Chennai,"Apr 21, 2021",T20
14,KKR,Super Kings,Super Kings,18 runs,Mumbai,"Apr 21, 2021",T20
15,RCB,Royals,RCB,10 wickets,Mumbai,"Apr 22, 2021",T20
16,Punjab Kings,Mum Indians,Punjab Kings,9 wickets,Chennai,"Apr 23, 2021",T20
17,Royals,KKR,Royals,6 wickets,Mumbai,"Apr 24, 2021",T20
18,Super Kings,RCB,Super Kings,69 runs,Mumbai,"Apr 25, 2021",T20
19,Sunrisers,Capitals,tied,NaN,Chennai,"Apr 25, 2021",T20
20,Punjab Kings,KKR,KKR,5 wickets,Ahmedabad,"Apr 26, 2021",T20
21,Capitals,RCB,RCB,1 run,Ahmedabad,"Apr 27, 2021",T20
22,Super Kings,Sunrisers,Super Kings,7 wickets,Delhi,"Apr 28, 2021",T20
23,Mum Indians,Royals,Mum Indians,7 wickets,Delhi,"Apr 29, 2021",T20
24,Capitals,KKR,Capitals,7 wickets,Ahmedabad,"Apr 29, 2021",T20
25,Punjab Kings,RCB,Punjab Kings,34 runs,Ahmedabad,"Apr 30, 2021",T20
26,Mum Indians,Super Kings,Mum Indians,4 wickets,Delhi,"May 1, 2021",T20
27,Royals,Sunrisers,Royals,55 runs,Delhi,"May 2, 2021",T20
28,Punjab Kings,Capitals,Capitals,7 wickets,Ahmedabad,"May 2, 2021",T20